<blockquote>
    <p class="lead thinfont">{{ quote | raw }}</p>
    <div class="row spacertopbig">
        {% if image %}
        <div style="background-image: url('{{ image }}')" class="face media large"></div>
        {% endif %}
        <div class="{% if image %}spacerleftnormal{% endif %}">
            <a href="https://twitter.com/{{ twitterhandle }}" title="{{ title }}" class="author boldfont">
                {{ name }}
            </a> {{ countrycode }}<br>
            <span class="thinfont">{{ title }}</span>
        </div>
    </div>
</blockquote>