<blockquote class="m-top-l">
    <div class="type-xl type-thin">{{ quote | raw }}</div>
    <div class="row m-top-m">
        {% if image %}
        <div style="background-image: url('{{ image }}')" class="media-face media media-l"></div>
        {% endif %}
        <div class="{% if image %}m-left-m{% endif %}">
            <a href="https://twitter.com/{{ twitterhandle }}" title="{{ title }}" class="author">
                {{ name }}
            </a> {{ countrycode }}<br>
            <span class="type-thin">{{ title }}</span>
        </div>
    </div>
</blockquote>