{#

    TODO:
    * review this article one more time - best in context on website+dashboard!
    * check links (also inline ones)
    * …

#}


<div class="row sectionHeading m-top-xl spacey" id="general-features">
    <h3 class="type-xl">
        Included with each App
    </h3>
    <div class="auto flex-end">
        <a href="{{ www_url }}/specs" class="linkstyle">See specs &rarr;</a>
    </div>
</div>

<ul class="rowboxList features-list columns m-bottom-s">
    <li>
        <span class="type-bold">Managed</span> hosting platform <a href="#managed-hosting" class="helpicon floated">?</a>
    </li>
    <li>
        <span class="type-bold">128 MB</span> PHP memory <a href="#memory" class="helpicon floated">?</a>
    </li>
    <li>
        <span class="type-bold">PHP 7</span> stable <a href="#php" class="helpicon floated">?</a>
    </li>

    <li>
        <span class="type-bold">Git</span> deployment <a href="#git" class="helpicon floated">?</a>
    </li>
    <li>
        <span class="type-bold">SSH</span> access <a href="#ssh" class="helpicon floated">?</a>
    </li>
    <li>
        <span class="type-bold">SFTP</span> access <a href="#sftp" class="helpicon floated">?</a>
    </li>
    <li>
        <span class="type-bold">Composer</span> integration <a href="#composer" class="helpicon floated">?</a>
    </li>
    <li>
        <span class="type-bold">Fair billing</span> <a href="#billing" class="helpicon floated">?</a>
    </li>
</ul>



<h2 class="m-top-xxl type-xxl" id="app-aspects">
    Universal Stack features
</h2>


<div class="row wrap gutter-l m-top-xl collapse">


    <div class="third half-t">
        <h3 id="app-universal">
            Open for everyone
        </h3>
        <p>
            Build websites and web applications here. Combine legacy workflows with modern design paradigms.
        </p>
        <p>
            <a href="{{ help_url }}/app-uni">Learn about the Universal Stack ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 id="plans">
            Three flavors
        </h3>
        <p>
            Light — for week-end hacks, one-pages, personal blogs … Basic — for small client projects and CMS driven websites … Plus — with extended features for more serious intentions …
        </p>
    </div>

    <div class="third half-t">
        <h3 id="ssh">
            SSH
        </h3>
        <p>
            Login via SSH, run tasks, use your framework's CLI tools for database migration or task runners on remote.
        </p>
        <p>
            <a href="{{ help_url }}/ssh-uni">Using SSH on fortrabbit ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 id="sftp">
            SFTP
        </h3>
        <p>
            Prefer legacy workflows? You are welcome! Upload files via classic SFTP and even use that side by side with other deployment methods.
        </p>
        <p>
            <a href="{{ help_url }}/sftp-uni">Using SFTP on fortrabbit ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 id="backups">
            Backups
        </h3>
        <p>
            Backups are stored encrypted in an off-shore location for 14 days and can be easily downloaded from the Dashboard at any time.
            {# 
            TODO: review, re-edit, otherwise remove this old text:
            Download daily backups of all files and database with a 14 days retention span from the Dashboard. Backups are encrypted and stored off-site. 
            #}
        </p>
        <p>
            <a href="{{ help_url }}/backups-uni">Learn more about backups ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 id="crons">
            Cron Jobs
        </h3>
        <p>
            Schedule a custom script to run automatically and periodically in the background. Configure a periodic task in the Dashboard:
        </p>
        <p>
            <a href="{{ help_url }}/crons-uni">Learn how to use Cron Jobs ›</a>
        </p>
    </div>
</div>
