{% if not theme == 'modal alert' %}
<div class="row type-s p-s">

    <a class="auto linkstyle p-s fortrabbit" id="nav_website" href="{{ www_url }}">
        •fortrabbit
    </a>
    
    {# make this available with global pricing
    <a class="auto linkstyle p-s" id="nav_pricing" href="{{ www_url }}/pricing">
        Pricing
    </a>
    #}

    <a class="auto linkstyle p-s" id="nav_specs" href="{{ www_url }}/specs">
        Specs
    </a>

    <a class="auto linkstyle p-s" id="nav_specs" href="{{ www_url }}/specs">
        Status
    </a>

    <a class="auto linkstyle p-s" id="nav_help" href="{{ help_url }}">
        Help
    </a>

    <a class="auto linkstyle p-s" id="nav_blog" href="{{ blog_url }}">
        Blog
    </a>

    <a class="auto linkstyle p-s" id="nav_support" href="/support">
        Support
    </a>
    
</div>

{% endif %}
