<footer class="m-top-xs">

    <a href="{{ dashboard_url }}/signup?{{ campaign }}" class="action type-xl fwdcta p-xl" id="{{ identifier }}" data-user="unknown">
        <span class="type-bold">{{ button_wording_1 }}</span> <span class="type-thin">{{ button_wording_2 }}</span>
    </a>


    <div data-user="known" class="box alert">
        <div class="row">
            <div class="box invisible">
                Still reading? Don't hesitate to:
            </div>
            <div class="auto keep">
                <a href="{{ dashboard_url }}/support" class="action b-3 p-s">
                    Contact us
                </a>
            </div>
        </div>
    </div>

    <nav class="row gutter-m wrap" id="companynav">

        <div class="m-top-l">
            <h5>Hosting a new mindset</h5>
            <div class="gutter-no">
                <a id="nav_laravel" class="rowbox p-xs type-s" href="{{ www_url }}/laravel-hosting" title="High performance Laravel PHP hosting">Laravel</a>
                <a id="nav_symfony" class="rowbox p-xs type-s" href="{{ www_url }}/symfony-hosting" title="High performance Symfony PHP hosting">Symfony</a>
                <a id="nav_drupal8" class="rowbox p-xs type-s" href="{{ www_url }}/drupal-hosting" title="High performance Drupal PHP hosting">Drupal 8</a>
                <a id="nav_phalcon" class="rowbox p-xs type-s" href="{{ www_url }}/phalcon-hosting"  title="High performance Phalcon PHP hosting">Phalcon</a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Hosting you</h5>
            <div class="gutter-no">
                <a id="nav_freelancer" class="rowbox p-xs type-s" href="{{ www_url }}/freelancer-hosting" title="Hosting for freelance developers">Freelancer</a>
                <a id="nav_startup" class="rowbox p-xs type-s" href="{{ www_url }}/startup-hosting" title="Hosting for startups and SMB">Startup</a>
                <a id="nav_agency" class="rowbox p-xs type-s" href="{{ www_url }}/agency-hosting" title="Hosting for web agencies">Digital agency</a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Connect</h5>
            <div class="gutter-no">
                <a class="rowbox p-xs row type-s" href="http://status.fortrabbit.com" id="status">
                    <div>Status</div><div class="auto flex-right status none">●</div>
                </a>
                <a class="rowbox p-xs type-s" href="https://twitter.com/fortrabbit">Twitter</a>
                <a id="nav_contact" class="rowbox p-xs type-s" href="{{ www_url }}/contact">Contact</a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Discover</h5>
            <div class="gutter-no">
                <a id="nav_about" class="rowbox p-xs type-s" href="{{ www_url }}/about" title="Our PHP hosting history">About us</a>
                <a id="nav_support" class="rowbox p-xs type-s" href="{{ www_url }}/support" title="Support as a Service">Support as a Service</a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Digg deeper</h5>
            <div class="gutter-no">
                <a class="rowbox p-xs type-s" href="{{ help_url }}/collaboration"  title="Hosting with team work">Teamwork</a>
                <a class="rowbox p-xs type-s" href="{{ help_url }}/the-platform" title="Developer delight">Platform</a>
                <a class="rowbox p-xs type-s" href="{{ help_url }}/security"  title="Secure PHP hosting">Security</a>
                <a class="rowbox p-xs type-s" href="{{ help_url }}/billing"  title="Fair billing">Billing</a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Legal</h5>
            <div class="gutter-no">
                <a class="rowbox p-xs type-s" href="{{ www_url }}/contact#legal-notice" title="Imprint">Site notice</a>
                <a id="nav_privacy" class="rowbox p-xs type-s" href="{{ www_url }}/privacy-policy">Privacy policy</a>
                <a id="nav_terms" class="rowbox p-xs type-s" href="{{ www_url }}/terms">Terms</a>
                <a id="nav_sla" class="rowbox p-xs type-s" href="{{ www_url }}/sla">SLA</a>
            </div>
        </div>
    </nav>
</footer>