<footer class="spacertopbig">



	<nav class="row gutternormal wrap" id="companynav">
		<div class="spacertopbig" data-user="unknown">
			<h5>Hosting a new mindset</h5>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/laravel-hosting" title="High performance Laravel PHP hosting">Laravel</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/symfony-hosting" title="High performance Symfony PHP hosting">Symfony</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/drupal-hosting" title="High performance Drupal PHP hosting">Drupal 8</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/phalcon-hosting"  title="High performance Phalcon PHP hosting">Phalcon</a>
		</div>
		<div class="spacertopbig">
			<h5>Hosting you</h5>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/freelancer-hosting" title="Hosting for freelance developers">Freelancer</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/startup-hosting" title="Hosting for startups and SMB">Startup</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/agency-hosting" title="Hosting for web agencies">Digital agency</a>
		</div>
		<div class="spacertopbig">
			<h5>Kitchen sink</h5>
			<a class="box psmall spacertopsmall" href="http://status.fortrabbit.com" id="status">Status</a>
			<a class="box psmall spacertopsmall" href="https://twitter.com/fortrabbit">Twitter</a>
		</div>
		<div class="spacertopbig">
			<h5>Discover</h5>
			<a class="box psmall spacertopsmall" href="about" title="Our PHP hosting history">About us</a>
			<a class="box psmall spacertopsmall" href="{{ blog_url }}" title="fortrabbit blog">Our Blog</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/support" title="Support as a Service">Support as a Service</a>
		</div>
		<div class="spacertopbig">
			<h5>Digg deeper</h5>
			<a class="box psmall spacertopsmall" href="{{ help_url }}/the-platform" title="Developer delight">Platform</a>
			<a class="box psmall spacertopsmall" href="{{ help_url }}/security"  title="Secure PHP hosting">Security</a>
			<a class="box psmall spacertopsmall" href="{{ help_url }}/collaboration"  title="Hosting with team work">Collaboration</a>
			<a class="box psmall spacertopsmall" href="{{ help_url }}/app-design"  title="Fair billing">App design</a>
		</div>
		<div class="spacertopbig">
			<h5>Legal</h5>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/contact#legal-notice" title="Imprint">Site notice</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/privacy-policy">Privacy policy</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/terms">Terms</a>
			<a class="box psmall spacertopsmall" href="{{ www_url }}/sla">SLA</a>
		</div>
	</nav>
</footer>