{% if user.user %}{# when logged in to Dashboard, when logged out with Dashboard > no footer #}
<footer class="userfooter m-top-l" {% if not dashboard %}data-user="known"{% endif %}>
    <div class="row inverted type-s m-left-s-minus">
        <a class="auto p-s fortrabbit" id="nav_website" href="{{ www_url }}">•fortrabbit</a>

        <a class="auto p-s" id="nav_help" href="{{ help_url }}">Help</a>
        <a class="auto p-s" id="nav_blog" href="{{ blog_url }}">Blog</a>
        <a class="auto p-s hide-t" id="nav_specs" href="{{ www_url }}/specs">Specs</a>
        <a class="auto p-s" id="nav_specs" href="http://status.fortrabbit.com">Status</a>
        <a class="auto p-s" id="nav_terms" href="{{ www_url }}/terms">Terms</a>

        <a class="auto p-s hide-t m-left-m" id="nav_apps" href="{{ dashboard_url }}/apps">Apps</a>
        <a class="auto p-s hide-t" id="nav_activities" href="{{ dashboard_url }}/activities">Activities</a>
        <a class="auto p-s hide-t" id="nav_users" href="{{ dashboard_url }}/users">Users</a>
        <a class="auto p-s hide-t" id="nav_support" href="{{ dashboard_url }}/company-plans">Company plans</a>
        <a class="auto p-s hide-t flex-right" id="nav_account" href="{{ dashboard_url }}/logout">Log out ›</a>
    </div>
</footer>
{% endif %}


{% if not dashboard %}{# blog, www, help #}
<footer class="pagefooter inverted">

    {% if not hideMainCta %}
    
    <a href="{{ dashboard_url }}/signup?{{ campaign }}" class="action fancy auto type-l fwdcta p-l m-bottom-m" style="display:inline-block;z-index:10000" id="{{ identifier }}" data-user="unknown">
        {{ button_wording_1 }}
        <span class="type-thin">— {{ button_wording_2 }}</span>
    </a>
    <a href="{{ dashboard_url }}/" class="action fancy auto type-l p-l m-bottom-m" style="display:inline-block;z-index:10000" data-user="known">
        Go back to the Dashboard ›
    </a>
    {% endif %}

    <nav class="row gutter-l wrap m-top-xl" id="companynav">

        <div class="m-top-l">
            <h5>Hosting a new mindset</h5>
            <div class="gutter-no m-top-s">
                <a id="nav_laravel" href="{{ www_url }}/laravel-hosting" title="High performance Laravel PHP hosting">Laravel</a>
                <a id="nav_wordpress" href="{{ www_url }}/wordpress-hosting"  title="WordPress hosting in the cloud">WordPress</a>
                <a id="nav_craft" href="{{ www_url }}/craft-hosting"  title="Craft CMS hosting">Craft CMS</a>
                <a id="nav_symfony" href="{{ www_url }}/symfony-hosting" title="High performance Symfony PHP hosting">Symfony</a>
                <a id="nav_phalcon" href="{{ www_url }}/phalcon-hosting"  title="High performance Phalcon PHP hosting">Phalcon</a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Hosting you</h5>
            <div class="gutter-no m-top-s">
                <a id="nav_web_designer" href="{{ www_url }}/web-designer-hosting" title="Hosting for freelance developers">Web designer</a>
                <a id="nav_startup" href="{{ www_url }}/startup-hosting" title="Hosting for startups and SMB">Startup</a>
                <a id="nav_agency" href="{{ www_url }}/agency-hosting" title="Hosting for web agencies">Digital agency</a>
                <a id="nav_customers" href="{{ www_url }}/customers" title="Support as a Service">
                    Our customers
                </a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Connect</h5>
            <div class="gutter-no m-top-s">
                <a class="row status none" href="http://status.fortrabbit.com" id="status">
                    Status
                </a>
                <a id="nav_contact" href="{{ www_url }}/contact">
                    Contact
                </a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Discover</h5>
            <div class="gutter-no m-top-s">
                <a id="nav_company_plans" href="{{ www_url }}/company-plans" title="Enhanced hosting plans">
                    Company plans
                </a>
                <a id="nav_features" href="{{ www_url }}/features" title="How fortrabbit works">
                    Features
                </a>
                <a id="nav_about" href="{{ www_url }}/about" title="Our PHP hosting history">
                    About us
                </a>
                <a id="nav_uptime" href="{{ www_url }}/uptime"  title="Fair billing">Uptime</a>
                <a id="nav_specs" href="{{ www_url }}/specs">Specs</a>
            </div>
        </div>

        <div class="m-top-l">
            <h5>Digg deeper</h5>
            <div class="gutter-no m-top-s">
                <a id="nav_teamwork" href="{{ help_url }}/collaboration"  title="Hosting with team work">Teamwork</a>
                <a id="nav_security" href="{{ help_url }}/security"  title="Secure PHP hosting">Security</a>
                <a id="nav_billing" href="{{ help_url }}/billing"  title="Fair billing">Billing</a>
            </div>
        </div>
        <div class="m-top-l">
            <h5>Legal</h5>
            <div class="gutter-no m-top-s">
                <a id="nav_imprint" href="{{ www_url }}/contact#legal-notice" title="Imprint">Site notice</a>
                <a id="nav_privacy" href="{{ www_url }}/privacy-policy">Privacy policy</a>
                <a id="nav_terms" href="{{ www_url }}/terms">Terms</a>
            </div>
        </div>
    </nav>
    <div class="row m-top-xl m-bottom-l">
        <div class="type-s hide-t m-top-m">
            <span class="fortrabbit">•fortrabbit</span>
            <span>&emsp;is made in Berlin &amp; powered by Amazon Web Services.</span>
        </div>
        <div class="auto type-l">
            <a class="icon-twitter"  href="https://twitter.com/fortrabbit"></a>
            <a class="icon-facebook" href="https://www.facebook.com/fortrabbit"></a>
            <a class="icon-github"   href="https://github.com/fortrabbit/"></a>
        </div>
    </div>
    
</footer>
{% endif %}