<header class="pageheader inverted">
    <nav class="row">
        {% if dashboard %}
            {% set gravatar = gravatar(user.user.email) %}
            {% include 'elements/breadcrumb.twig' %}
        {% else %}
            <a class="auto p-s fortrabbit" id="nav_website" href="{{ www_url }}">
                •f<span class="hide-p">ortrabbit</span>
            </a>
            <a class="auto p-s m-left-s" id="nav_pricing" href="{{ www_url }}/pricing">
                Pricing
            </a>
            <a class="auto p-s" id="nav_help" href="{{ help_url }}">
                Help
            </a>
            <a class="auto p-s" id="nav_blog" href="{{ blog_url }}">
                Blog
            </a>
        {% endif %}
        <a id="nav_account" href="{{ dashboard_url }}/account" class="auto p-s row keep flex-right account" data-user="known" style="display:none">
            {% if user.tasks_count %}
            <span class="bubble">{{ user.tasks_count }}</span>
            {% endif %}
            <span class="hide-t">Your Account</span>
            <div class="mediacontainer">
                <div class="media media-face" data-gravatar style="background-image: url('{{ gravatar }}')"></div>
            </div>
        </a>
        <div class="flex-right row auto" data-user="unknown">
            <a class="auto p-s" id="nav_login" href="{{ dashboard_url }}">Log in</a>
            <a class="auto p-s action fancy" id="nav_signup" href="{{ dashboard_url }}/signup?top">Sign up <span class="hide-p">free</span></a>
        </div>
    </nav>
</header>

<script>
    $(function(){
        $('[data-gravatar]').loadRemberedGravatar('[data-user="known"]','[data-user="unknown"]');
    });
</script>