<h2 class="m-top-xxl type-xl" id="platform-aspects">
    Platform features
</h2>

<div class="row wrap gutter-l m-top-xl collapse m-bottom-xl">
    <div class="third half-t">
        <h3 id="managed-hosting">
            Managed hosting
        </h3>
        <p>
            You code and deploy. We take care of the platform, the deployment process, the database and the Operating System.
        </p>
        <p>
            <a href="{{ help_url }}/security">See our security article ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 id="pay-per-app">
            1 App = 1 website
        </h3>
        <p>
            Each App is an isolated container for one website. Collaboration is flexible. Resources are individually scalable. Create and kill Apps at any time.
        </p>
        <p>
            <a href="{{ help_url }}/app">Learn more the architecture ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 id="memory">
            Dedicated PHP RAM
        </h3>
        <p>
            The memory is dedicated for PHP usage per App. Unlike with other hosting it is not shared with the operating system or other resources.
        </p>
        <p>
            <a href="{{ www_url }}/specs#compatible-software">See compatible software list ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 id="processes">
            Fast &amp; secure PHP processes
        </h3>
        <p>
            More PHP processes enable more concurrent requests. PHP processes are dedicated and isolated – thanks to FPM.
        </p>
    </div>

    <div class="third half-t">
        <h3 id="git">
            Git
        </h3>
        <p>
            Each App has a dedicated Git repo. Just <code>git push</code> and see your code changes online almost instantly.
        </p>
        <p>
            <a href="{{ help_url }}/git-deployment">See Git deployment on fortrabbit ›</a>
        </p>
    </div>


    <div class="third half-t">
        <h3 id="composer">
            Composer
        </h3>
        <p>
            Composer install is integrated in the deployment process: Dependencies are automatically handled after each `git push`.
        </p>
        <p>
            <a href="{{ help_url }}/composer">See how to use Composer here ›</a>
        </p>
    </div>


    <div class="third half-t">
        <h3 id="mysql">
            Decoupled MySQL
        </h3>
        <p>
            MySQL is based on RDS by AWS and thus decoupled from the App, running on isolated Nodes with their own resources. 
        </p>
        <p>
            <a href="{{ help_url }}/mysql">Explore MySQL options ›</a>
        </p>
    </div>


    <div class="third half-t">
        <h3 id="https">
             Automatic HTTPS
        </h3>
        <p>
            Secure connections on all domains are standard. TLS Certificates are provided by Let's Encrypt and installed automatically. 
        </p>
        <p>
            <a href="{{ help_url }}/https">Using HTTPS on fortrabbit ›</a>
        </p>
    </div>


    <div class="third half-t">
        <h3 id="collaboration">
            Collaboration
        </h3>
        <p>
            Never share passwords by e-mail again! Securely grant access using App level collaboration. Map real world business relationships with one login.
        </p>
        <p>
            <a href="{{ help_url }}/collaboration">Learn about collaboration ›</a>
        </p>
    </div>
    <div class="third half-t">
        <h3 id="metrics">
            Performance metrics
        </h3>
        {% if not dashboard %}
            {% include 'snippets/performance-graph.twig' %}
        {% endif %}
        <p>
            Monitor performance right in the Dashboard. {% if dashboard %} Identify problems and bottlenecks.{% endif %}
        </p>
    </div>

    
    <div class="third half-t">
        <h3 id="traffic">
            Transfer
        </h3>
        <p>
            Each App comes with a fair amount of monthly included traffic. Additional bandwidth is available. 
        </p>
        <p>
            <a href="/specs##storage-and-traffic">See specs ›</a>
            {#<a href="{{ help_url }}/limits#toc-traffic">Learn about limits ›</a>#}
        </p>
    </div>

    {# TODO: launch app alerts first
    <div class="third half-t">
        <h3 id="limits">
            App alerts
        </h3>
        <p>
            Get notified whenever your App approaches a resource limit. View the historic usage metrics of your App in the Dashboard.
        </p>
        <p>
            <a href="{{ help_url }}/company#toc-automatic-resource-exhaustion-alerts">Learn about automatic alerts ›</a>
        </p>
    </div>
    #}
    <div class="third half-t">
        <h3 id="billing">
            Fair billing
        </h3>
        <p>
            With consumption based billing and a precise daily settlement you pay only for what you are using.
        </p>
        <p>
            <a href="{{ help_url }}/billing">Learn about our fair billing ›</a>
        </p>
    </div>
</div>

{% if not dashboard %}
<p class="m-top-xl m-bottom-m type-l">
    <a href="{{ www_url }}/features">Explore how it works ›</a>
</p>
{% endif %}