<a id="nav_website" href="{{ www_url }}" class="fortrabbit" title="visit our website">•fortrabbit</a>
<a id="nav_pricing" href="{{ www_url }}/pricing">Pricing</a>
<a id="nav_help" href="{{ help_url }}" class="hidemobile">Help</a>
<a id="nav_blog" href="{{ blog_url }}" class="hidemobile">Blog</a>
<a id="nav_contact" href="{{ www_url }}/contact" class="hidemobile">Contact</a>
<a id="nav_signup" href="{{ dashboard_url }}/signup?top" class="boldfont right fwdcta">Sign up</a>
<a id="nav_login" href="{{ dashboard_url }}">Log in ›</a>
<a id="nav_logout" class="hidden right" href="/logout">Log out ›</a>
<a id="nav_dashboard" class="right hidden" href="{{ dashboard_url }}">
    Dashboard
    <div class="media face"></div>
</a>