<nav id="propertiesnav" class="row">
    <div class="row gutter auto wrap" id="main">
        <a class="box fortrabbit " id="nav_website" href="{{ www_url }}">•fortrabbit</a>
        <a class="box" id="nav_pricing" href="{{ www_url }}/pricing">Pricing</a>
        <a class="box" id="nav_help" href="{{ help_url }}">Help</a>
        <a class="box" id="nav_blog" href="{{ blog_url }}">Blog</a>
        {#<a class="box" id="nav_contact" href="{{ www_url }}/contact">Contact</a>#}
    </div>

    <div class="flexright auto" style="padding-left:4px">
        <div class="row gutter auto wrap" data-user="unknown">
            <a class="action secondary keep" id="nav_login" href="{{ dashboard_url }}">Log in</a>
            <a class="action fwdcta keep" id="nav_signup" href="{{ dashboard_url }}/signup?top">Sign up</a>
        </div>

        <div class="row gutter auto wrap" data-user="known">
            <a id="nav_dashboard" class="box" href="{{ dashboard_url }}">Dashboard</a>
            <a id="nav_dashboard" class="box row keep" href="{{ dashboard_url }}/account">
                <div>Your Account</div>
                <div class="media face spacerleftnormal auto" id="gravatar"></div>
            </a>
        </div>
    </div>
</nav>


{# TODO: load on bottom on page, set javascripts won't work, could only be used once #}
<script>
    $(function(){
        $('#gravatar').loadRemberedGravatar('[data-user="known"]','[data-user="unknown"]');
    });
</script>
