<nav id="propertiesnav" class="row">
    <div class="row auto wrap gutter-no">
        <a class="box fortrabbit p-s" id="nav_website" href="{{ www_url }}">•fortrabbit</a>
        <a class="box p-s" id="nav_pricing" href="{{ www_url }}/pricing" data-user="unknown">Pricing</a>
        <a class="box p-s" id="nav_help" href="{{ help_url }}">Help</a>
        <a class="box p-s" id="nav_blog" href="{{ blog_url }}">Blog</a>
        <a class="box p-s" id="nav_contact" href="{{ www_url }}/contact#nav_contact" data-user="unknown">Contact</a>
        <a class="box p-s" href="http://status.fortrabbit.com" id="status" data-status data-user="known">
            Status
            <span class="status none spacerleft" data-status>●</span>
        </a>
    </div>
    <div class="flexright auto" style="padding-left:12px">
        <div class="row auto wrap gutter-xs" data-user="unknown" style="display:none">
            <a class="action b-2 keep p-s" id="nav_login" href="{{ dashboard_url }}">Log in</a>
            <a class="action fwdcta keep p-s" id="nav_signup" href="{{ dashboard_url }}/signup?top">Sign up free</a>
        </div>
        <div class="row gutter-no auto wrap" data-user="known">
            <a class="box p-s" id="nav_support" href="{{ dashboard_url }}/support">Support</a>
            <a class="box p-s" id="nav_dashboard" href="{{ dashboard_url }}">Dashboard</a>
            <a class="box p-s row" id="nav_account" class="row keep" href="{{ dashboard_url }}/account">
                <div>Your Account</div>
                <div class="media media-m media-face m-left-m auto" data-gravatar></div>
            </a>
        </div>
    </div>
</nav>

<script>
    $(function(){
        $('[data-gravatar]').loadRemberedGravatar('[data-user="known"]','[data-user="unknown"]');
    });
</script>
