{% extends "layout.twig" %}
{% set title = "About us, our PHPilosophy" %}
{% set activeClass = 'nav_about' %}


{% block precontent %}
<div>
    <style>
        .images { 
            border: 1px solid #f1f4f3;
            z-index: -1;
            /*position: fixed;*/
        }

        .images img { 
            object-fit: cover;
            border: 1px solid #f1f4f3;
            width: 100%;
            margin: 0;
            display: block;
            
        }
        .aboutText {
            margin-top: -30rem;
            z-index: 2000
        }
        @media (max-width:900px){
            .aboutText {margin-top: 0;}
        }
    </style>

    <figure class="row images wrap hide-p">
        <div class="half">
            <img src="{{ assetsremote }}/img/background-03-n.jpg" style="height: 30vw">
        </div>
        <div class="half">
            <img src="{{ assetsremote }}/img/background-04-n.jpg" style="height: 30vw" alt="">
        </div>
        <div class="twothird">
            <img src="{{ assetsremote }}/img/background-00-n.jpg" alt="" style="height: 40vw">
        </div>
        <div class="third">
            <img src="{{ assetsremote }}/img/background-01.jpg" style="height:   20vw">
            <img src="{{ assetsremote }}/img/background-02-n.jpg" style="height: 20vw">
        </div>
        {#
        <figcaption class="full type-s p-xs">
            impressions from the fortrabbit headquarter
        </figcaption>
        #}
    </figure>

</div>
{% endblock %}



{% block content %}

    {#
    <h1>Thorough by nature</h1>
    <p class="type-s">Made in Berlin Kreuzberg.</p>
    <p class="type-s">These are the fortrabbit chronicles.</p>
    <h1>Hosting since 2004</h1>
    <h1>hello world!</h1>
    <p class="type-s">Thorough by our German nature.</p>
    #}

<div class="pull-up edged read-xl aboutText">
    <h1 class="type-xxl">
        Made in Berlin Kreuzberg
    </h1>
    <p class="claim">
        the fortrabbit story so far
    </p>

    <article class="post m-top-l">


        <p class="type-l">
            <b>We are what you are.</b> We understand the culture. This service exists because we were fed up with other hosting solutions out there. This is the hosting we wanted to have for ourselves.
        </p>

        <p>
            Around a decade ago we{# — at that time: Ulrich Kautz, Daniel Schillat and Frank Lämmer —#} founded fortrabbit as a full service project offering all kind of internet related services: from web design to hosting and domain registration. The hosting part was in fact just classical reselling of our root server resources.
        </p>
        <p>
            In 2007 we splitted the hosting from the agency business and founded fortrabbit as a real company — still as a side project besides our client work as a web agency.
        </p>

        <p>
            To maximize the profit margin and more importantly to satisfy our playfulness we bought some servers and racked them up in a data center in the heart of Berlin. Here we learned a lot about technology, product development and customer needs. And we realized that we really like to do this.
        </p>
        <p>
            Infrastructure and software where bundled and we called the whole thing <accr title="Mish Is Supreme Hosting">MISH</accr>. It was a neat hosting system with distributed services and already variable resources billed on consumption. The service was mostly automated but also offered customization — a mix between modern shared hosting and managed hosting.
        </p>
        <div class="row gutter-s">
            <figure class="half">
                <img src="{{ assetsremote }}/img/server.jpg" alt="fortrabbit server">
                <figcaption class="type-xs">
                    fortrabbit server stack anno 2008
                </figcaption>
            </figure>
            <figure class="half">
                <img src="{{ assetsremote }}/img/fortrabbit-website-2004.png" alt="fortrabbit hosting website anno 2004">
                <figcaption class="type-xs">
                    fortrabbit website 2004, source: <a href="https://web.archive.org/web/20040502130143/http://www.fortrabbit.de/dienst.html">archive.org</a>
                </figcaption>
            </figure>
        </div>
        <p>
            We had small and large clients from all kind of businesses, among were companies like Red Bull, Deutsche Telekom, Messe Frankfurt and Leonardo Hotels.
        </p>
        <p>
            Due to it's metal components the MISH hosting solution wasn't very scalable. And we already had something else in mind: Narrow the focus to itch our own scratch better. In other words: to build a hosting platform we always wanted to use ourselves, especially tailored for the needs of modern PHP web development.
        </p>
        <figure class="m-top-m m-bottom-m">
            <img src="{{ assetsremote }}/img/founders.jpg" alt="fortrabbit founders">
            <figcaption class="type-xs">
                The fortrabbit founding partners Frank Lämmer, Oliver Stark, Ulrich Kautz in 2012
            </figcaption>
        </figure>
        <p>
            So we ditched all of our web agency client projects to solely concentrate on this. And in 2012 we implemented our new cloud hosting solution based on AWS. The first European Platform as a Service dedicated to PHP — a good match for the ongoing PHP renaissance.
        </p>

        <p>
            By 2014 we reached the mark of 10k developers. In 2015 we launched a major platform upgrade. In 2016 we launched the third generation of Apps: Universal Stack.
        </p>
        <p>
            <a href="{{ blog_url }}">See our blog to see more mile stones</a>
        </p>

    </article>
</div>

<hr class="read-xl m-top-xxl">

<div class="row gutter-l m-top-xl collapse read-xl">
    <div class="half">
        <h3>Philosophy</h3>
        <p>
            The 4 hour week movement is not our thing. We believe that it takes hard work to build great things. And we subscribe to the Prussian virtues: honesty, reliability, diligence <del>and punctuality</del>. We care about details. Our process is iterative. We don't do harm.
        </p>
    </div>
    <div class="half">
        <h3 id="open-office">Open office</h3>
        <p>
            Are you in Berlin, deeply into PHP and working remotely? Hide out for a day or two here or just come over for a coffee and chat. Our office is a hub we are happy to host guests and co-workers.
        </p>

    </div>
</div>

{% endblock %}
