{% extends "layout.twig" %}

{% set title       = "Agency Hosting" %}
{% set activeClass = 'nav_agency' %}
{% set bodyClass   = 'marketing contrast' %}


{% set cta = {
    'button_wording_1': 'Sign up',
    'button_wording_2': 'see web agency hosting in action'
    }
%}


{% block precontent %}
<div class="hero oblique-end">
    <h1 class="type-xxxl">
        PHP hosting
    </h1>
    <p class="claim">
        for digital agencies
    </p>
    {% include 'snippets/quick-signup-stacked-hero.twig' with {
        'headline': 'Try a better web agency hosting'
    }%}
</div>
{% endblock %}





{% block content %}


{% include 'snippets/quotes.twig' with {
    'quoteText'      : 'support2',
    'quoteClasses'   : 'hero-quote pull-up',
    'quoteTextClass' : 'type-xl p-l read-xl'
}%}


<p class="type-xl m-top-xl">
    <b>Are you running a web agency or dev shop?</b> Great! Let's team up. Outsource infrastructure design and maintenance to us and focus on building great Apps for your clients.
</p>

<div class="row wrap gutter-l collapse m-top-xl">
    <div class="third half-t">
        <h3>
            Get your team ready
        </h3>
        <p>
            Multi-tenancy <a href="{{ help_url }}/collaboration">collaboration features</a> makes managing team easy. Control code access with different roles. Handle multiple billing and ownerships from one account.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Sleep well
        </h3>
        <p>
            No matter if you build ecommerce sites, online marketing campaigns or mobile backends — uptime is a must. Provide your clients a hosting solution that meets enterprise requirements.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Control &amp; master
        </h3>
        <p>
            Our self-service provisioning empowers you to utilize high availability setups for business critical applications at ease and almost instantly.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Offshore knowledge
        </h3>
        <p>
            We have special knowledge in application- and infrastructure-design and we like to share that with you — try our <a href="/support">Professional Support</a>.
        </p>
    </div>

    <div class="third half-t">
        {% include '/snippets/batteries-included.twig'  %}
    </div>
    <div class="third half-t">
        {% include 'snippets/hosting-a-new-mindset.twig' %}
    </div>
</div>



<h2 class="m-top-xxl type-xlx">
    Web agencies hosted on fortrabbit
</h2>
<div class="gutter-m m-top-l row wrap">
{% set agencies = getResource("customers", "category", "Agency") %}
{% for item in agencies %}
    {% if item.single %}
    <div class="quarter half-t">
        <div class="box p-m clientContainer" style="background-image:url({{ assetsremote }}/img/{{ item.imagefile }});">
            <div class="furtherInfo">
                <div title="{{ item.country }}" class="flag icon-{{ item.country | lower }}"></div>
                <span class="type-bold">{{ item.name }}</span>: {{ item.info }}
                {% if item.twitter %}
                    <a title="{{ item.name }} on twitter" href="https://twitter.com/{{ item.twitter }}" class="icon-twitter link-twitter"></a>
                {% endif %}
                {% if item.url %}
                    <a title="{{ item.name }} website" href="{{ item.url }}" class="icon-link linkstyle link-url"></a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>
<p class="m-top-m">
    <a href="/customers">See some more clients &rarr;</a>
</p>
{% endblock %}
