{% extends "layout.twig" %}



{#


TODO:

* JS latency script: run on button, insert times into spans, button > ongoing state
* JS: ongoing state for email button 
* check texts one more time

#}






{% set title            = "PHP hosting coming to US" %}
{% set bodyClass        = 'marketing usa' %}

{% set hide_us_banner   = 'yep' %}




{% set cta = {
    'campaign'        : 'us-launch',
    'button_wording_1': 'Test it today',
    'button_wording_2': 'for free'
    }
%}



{% block headstuff %}


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image:src" content="{{ assetsremote }}/img/fortrabbit-us-twitter-banner--2000-1000.png">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@fortrabbit">
<meta name="twitter:creator" content="@fortrabbit">
<meta name="twitter:title" content="fortrabbit is coming to US">
<meta name="twitter:description" property="og:description" content="Learn when, why and how you can start using your beloved PHP hosting platform in the United States. Make a speed test in the browser to see the difference.">


{% endblock %}










{% block precontent %}

<script>


    !function(t,a){"function"==typeof define&&define.amd?define(a):"object"==typeof exports?module.exports=a(require,exports,module):t.CountUp=a()}(this,function(t,a,e){/*
     countUp.js
     (c) 2014-2015 @inorganik
     Licensed under the MIT license.
     */
        var n=function(t,a,e,n,i,r){for(var o=0,s=["webkit","moz","ms","o"],m=0;m<s.length&&!window.requestAnimationFrame;++m)window.requestAnimationFrame=window[s[m]+"RequestAnimationFrame"],window.cancelAnimationFrame=window[s[m]+"CancelAnimationFrame"]||window[s[m]+"CancelRequestAnimationFrame"];window.requestAnimationFrame||(window.requestAnimationFrame=function(t,a){var e=(new Date).getTime(),n=Math.max(0,16-(e-o)),i=window.setTimeout(function(){t(e+n)},n);return o=e+n,i}),window.cancelAnimationFrame||(window.cancelAnimationFrame=function(t){clearTimeout(t)}),this.options={useEasing:!0,useGrouping:!0,separator:",",decimal:".",postFormatter:null};for(var u in r)r.hasOwnProperty(u)&&(this.options[u]=r[u]);""===this.options.separator&&(this.options.useGrouping=!1),this.options.prefix||(this.options.prefix=""),this.options.suffix||(this.options.suffix=""),this.d="string"==typeof t?document.getElementById(t):t,this.startVal=Number(a),this.endVal=Number(e),this.countDown=this.startVal>this.endVal,this.frameVal=this.startVal,this.decimals=Math.max(0,n||0),this.dec=Math.pow(10,this.decimals),this.duration=1e3*Number(i)||2e3;var l=this;this.version=function(){return"1.6.1"},this.printValue=function(t){var a=isNaN(t)?"--":l.formatNumber(t);"INPUT"==l.d.tagName?this.d.value=a:"text"==l.d.tagName||"tspan"==l.d.tagName?this.d.textContent=a:this.d.innerHTML=a},this.easeOutExpo=function(t,a,e,n){return e*(-Math.pow(2,-10*t/n)+1)*1024/1023+a},this.count=function(t){l.startTime||(l.startTime=t),l.timestamp=t;var a=t-l.startTime;l.remaining=l.duration-a,l.options.useEasing?l.countDown?l.frameVal=l.startVal-l.easeOutExpo(a,0,l.startVal-l.endVal,l.duration):l.frameVal=l.easeOutExpo(a,l.startVal,l.endVal-l.startVal,l.duration):l.countDown?l.frameVal=l.startVal-(l.startVal-l.endVal)*(a/l.duration):l.frameVal=l.startVal+(l.endVal-l.startVal)*(a/l.duration),l.countDown?l.frameVal=l.frameVal<l.endVal?l.endVal:l.frameVal:l.frameVal=l.frameVal>l.endVal?l.endVal:l.frameVal,l.frameVal=Math.floor(l.frameVal*l.dec)/l.dec,l.printValue(l.frameVal),a<l.duration?l.rAF=requestAnimationFrame(l.count):l.callback&&l.callback()},this.start=function(t){return l.callback=t,l.rAF=requestAnimationFrame(l.count),!1},this.pauseResume=function(){l.paused?(l.paused=!1,delete l.startTime,l.duration=l.remaining,l.startVal=l.frameVal,requestAnimationFrame(l.count)):(l.paused=!0,cancelAnimationFrame(l.rAF))},this.reset=function(){l.paused=!1,delete l.startTime,l.startVal=a,cancelAnimationFrame(l.rAF),l.printValue(l.startVal)},this.update=function(t){cancelAnimationFrame(l.rAF),l.paused=!1,delete l.startTime,l.startVal=l.frameVal,l.endVal=Number(t),l.countDown=l.startVal>l.endVal,l.rAF=requestAnimationFrame(l.count)},this.formatNumber=function(t){t=t.toFixed(l.decimals),t+="";var a,e,n,i;if(a=t.split("."),e=a[0],n=a.length>1?l.options.decimal+a[1]:"",i=/(\d+)(\d{3})/,l.options.useGrouping)for(;i.test(e);)e=e.replace(i,"$1"+l.options.separator+"$2");var r=l.options.prefix+e+n+l.options.suffix;return null!=l.options.postFormatter&&(r=l.options.postFormatter(r)),r},l.printValue(l.startVal)};return n});

    // fortrabbit.txt 10 byte
    // EU: ~70 ms
    // US: ~140 ms

    // fortrabbit-us.png ~290 kb
    // EU: ~400 ms
    // US: ~900 ms

    var startTime;


    // run the test in US & EU
    // and replace contents in the text

    function runTheTest() {
        // EU
        $.ajax({
            cache: false,
            url: '//s3-eu-west-1.amazonaws.com/latency-check-eu/fortrabbit.txt',
            beforeSend: function(){
            startTime = new Date();
            },
            complete: function(jqXHR, textStatus){
                var t = (new Date()) - startTime;
                //console.log('EU: ' + t);
                //$('[data-latency="eu"]').text(t);

                var c_eu = new CountUp($('[data-latency="eu"]')[0], 0, t, 0, Math.round(t/100));
                c_eu.start();
            }
        });

        // US
        $.ajax({
            cache: false,
            url: '//s3.amazonaws.com/latency-check-us/fortrabbit.txt',
            beforeSend: function(){
            startTime = new Date();
            },
            complete: function(jqXHR, textStatus){
                var t = (new Date()) - startTime;
                var c_us = new CountUp($('[data-latency="us"]')[0], 0, t, 0, Math.round(t/100));
                c_us.start();
            }
        });
    }


    // run on the test on click of the button
    $(function(){

        $.when(
                $.ajax('//s3.amazonaws.com/latency-check-us/fortrabbit.txt'),
                $.ajax('//s3-eu-west-1.amazonaws.com/latency-check-eu/fortrabbit.txt')
        ).done(function () {
            runTheTest();
        });

        $('#trigger').click(function(){
            runTheTest();
            $(this).blur();
            return false;
        });
    });








</script>


<main>

    <article>
        <div class="part1 post">
            <h1 class="type-xxxl type-black">
                <span class="type-normal">fortrabbit is</span>
                coming to U$
            </h1>
            <p class="type-l">
                Your beloved PHP hosting platform is finally coming to the United States. We are going to open a data center location in US-EAST-1 soon. The services will also be offered in USD directly.
            </p>
            <div class="row gutter-xs m-top-l">
                {#
                <div class="auto">
                    <a class="action" href="">Get an email when it's ready</a>
                </div>
                <div class="auto">
                    <a class="action" href="">Try out fortrabbit now</a>
                </div>
                #}
                <div class="auto">

                    {# Twitter surveillance edition #}
                    <a href="https://twitter.com/share" class="twitter-share-button"{count} data-text="fortrabbit is coming to US. Make a speed test in your browser now." data-size="large">Tweet this</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


                    {# alternative simple method #}
                    {#
                    <a class="action" data-tooltip="Spread the word!" target="_blank" href="https://twitter.com/intent/tweet?status={{ "fortrabbit is coming to US. http://www.fortrabbit.com/coming-to-us"|url_encode }}">
                        Tweet this
                    </a>
                    #}
                </div>
            </div>
        </div>

        <div class="part2">
            <div class="post">
                <h2 style="margin-top:0">
                    Closer is faster
                </h2>
                <p>
                    Performance is key to a good hosting service. In theory data can travel by the speed of light. In reality data latency happens. Don't let your users wait. Choose a data center that is close to your users.
                </p>
                <h2>
                    See it yourself
                </h2>
                <p>
                    It just took <span class="highlighted"><strong data-latency="us">68</strong> <abr title="milliseconds">ms</abr> from US-EAST-1</span> in Virginia and <span class="highlighted"><strong data-latency="eu">78</strong> <abr title="milliseconds">ms</abr> from EU-WEST-1</span> in Ireland to transmit a 10 byte <a href="https://s3-eu-west-1.amazonaws.com/latency-check-eu/fortrabbit.txt">textfile</a> to your browser.
                </p>
                <div class="row">
                    <div class="auto">
                        <button class="action" id="trigger">
                            Re-run the test
                        </button>
                    </div>
                </div>
            </div>
            <p class="type-s read-s m-top-m">
                Run the test multiple times to see varying results. It can take 100 ms for a request to cross the ocean. Within the States you might see a latency of 50 ms from coast to coast.
            </p>
        </div>
    </article>





    <div id="mc_embed_signup" class="us-signup-notifier">
        <form action="//fortrabbit.us5.list-manage.com/subscribe/post?u=0ff2bab22ff27e4f2978f7065&amp;id=5a74d202eb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" class="row gutter-no">
                <div class="minilabel">
                    Get an email when the new data center location is ready. 
                </div>
                <input type="email" value="" name="EMAIL" class="required email type-l" id="mce-EMAIL" placeholder="curious.cat@gmail.com">
                <input type="submit" value="Let me know" name="subscribe" id="mc-embedded-subscribe" class="button action auto type-l">

                {# spam bot honey pot #}
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_0ff2bab22ff27e4f2978f7065_5a74d202eb" tabindex="-1" value="">
                </div>

            </div>
            <div id="mce-responses">
                <div class="response m-top-xs box" id="mce-error-response" style="display:none"></div>
                <div class="response m-top-xs box" id="mce-success-response" style="display:none"></div>
            </div>

        </form>
    </div>

    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = []; window.ftypes = [];fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->




    <div class="part3">
        <h2 class="type-xxl type-thin">
            PHPower to the PHPeople
        </h2>
        <div class="row gutter-xl wrap collapse m-top-xl">

            {# Good list for blog post
            <div class="third half-t">
                <h3>
                    What not to expect
                </h3>
                <ul>
                    <li>Data center location is only available for New Apps</li>
                    <li>Change the data-center location of an App afterwards</li>
                    <li>Change the currency of a Billing Contact afterwards</li>
                    <li>Apps that span across regions are not possible</li>
                    <li>Support hours will be limited to Berlin time for now</li>
                    <li>West cost data center location</li>
                </ul>
            </div>
            #}
            <div class="third half-t">
                <h3>
                    What took us so long
                </h3>
                <p>
                    We've been working on this for quite a while now. A long the way we decided to postpone the US launch until our second generation of infrastructure is ready. That is the case now — the New Apps have been tried and tested and <a href="http://blog.fortrabbit.com/new-apps-ga">became final in December</a>. We have recently release the <a href="http://blog.fortrabbit.com/new-worker-released">Workers Component</a> and made PHP 7 available. Thanks for your patience. 
                </p>
            </div>
            <div class="third half-t">
                <h3>
                    Ready for global business
                </h3>
                <p>
                   How ever you like it: You can have our business in Europe, yet run certain Apps in the US and the other way around. Choose a data-center location for every App you create. Choose a currency for every new Billing Contact.
                </p>
            </div>

            <div class="third half-t">
                <h3>
                    What is fortrabbit anyways?
                </h3>

                <p>
                    fortrabbit — secure like fort knox, fast like the rabbit — is a managed hosting service dedicated for PHP. Our aim is to support modern PHP development with micro-service oriented hosting infrastructure. We've been <a href="/about">into hosting and PHP</a> for a long time. We are a proudly bootsrapped company from Berlin Germany.
                </p>
            </div>
            <div class="third half-t">
                <h3>
                    When will it be ready?
                </h3>
                <p>
                    It's going to launch sometime between <strong>Super Bowl</strong> and  <strong>presidential elections</strong>. 
                </p>
            </div>
        </div>
    </div>
</main>











{% set blue  = '#06149a' %}
{% set red   = '#9A0000' %}
{% set beige = '#D9DDB2' %}
{% set fancy = '#0066FF' %}

<style>
    body.usa {
        background-color: {{ blue }};
        /*border-top: 22px solid #D9DDB2;*/
    }
    .usa .action       { background-color: {{ fancy }} }
    .usa .action:hover { background-color: #061FFF }
    body.usa main {
        background-color: {{ blue }};
        padding: 0;
        /*border: 1rem solid {{ blue }};*/
    }
    /* reset footer */
    .usa footer:before {
        background-color: {{ blue }};
        border-color: {{ red }};
    }
    /* reset button on bottom */
    .usa .inverted .action {
        box-shadow: 0 0 0 .3rem {{ blue }};
    }
    .part1 {
        position: relative;
        padding: 18vw 8vw 6vw;
        /*background-color: {{ red }};*/
        color: {{ beige }};
        /*border-bottom: 2rem double #D9DDB2;*/
    }
    .part1:before {
        content: '★';
        font-size: 12rem;
        position: absolute;
        bottom: -8rem;
        right: 4vw;
        color: #D9DDB2;

    }

    .part2 {
        padding: 8vw;
        color: {{ beige }};
        background-color: {{ red }};
        margin-top: 1rem;
    }
    .part2 p a {
        color: {{ beige }};
        text-decoration: underline;
    }

    .part2 p a:hover {
        color: white;
    }

    .part3 {
        padding: 8vw 8vw 1vw;
        color: {{ beige }};
        margin-top: 1rem;
    }

    .part3 p a, .part3 p a:visited {
        color: white;
    }

    
    .us-signup-notifier {
        padding: 8vw 8vw;
        background-color: {{ beige }};
        /*
        border-top: 1rem solid {{ blue }};
        border-bottom: 1rem solid {{ red }};
        */
    }
    .us-signup-notifier * {
        color: {{ red }};
    }
    .us-signup-notifier input[type=email] {
        background-color: #E0E5B9;
        border-color: {{ red }};
        padding: 1.5rem;
        color: {{ red }};
    }
    .us-signup-notifier input[type=email]:hover,
    .us-signup-notifier input[type=email]:focus {
        background-color: white;
    }

    .us-signup-notifier .action {
        background-color: {{ red }};
        color: {{ beige }};
        padding: 1.5rem;
        border-color: {{ red  }};
    }
    .us-signup-notifier .action:hover {
        background-color: red;
    }

    #mce-responses .response {
        background-color: #D9DDB2;
        border-color: #1b1a18;
        color: #1b1a18;
        padding: 2rem;
    }

    #mce-responses #mce-error-response {
        background-color: #05D900;
        color: #63061A;
    }
    #mce-responses #mce-success-response {
        background-color: #03B600;
        color: #017600;
    }
    .highlighted {
        background-color: rgba(0,0,0,.5);
        padding: 0 4px;
    }
</style>


{% endblock %}


{% block content %}{% endblock %}
