
{% extends "layout.twig" %}
{% set title = "Craft CMS hosting for digital agencies" %}
{% set activeClass = 'nav_craft' %}
{% set bodyClass   = 'marketing' %}


{% set cta = {
'campaign'        : 'craft',
'button_wording_1': 'Start your trial',
'button_wording_2': 'see Craft hosting in action'
}
%}




{% block precontent %}

    <div class="hero image craft oblique-end">
        <h1 class="zoomIn animlength1 animdelay1 animated type-black">
            Craftsmen <br>
            hosting
        </h1>
        {# google bot will read the following, for humans it's a bit too much #}
        <p class="type-xxl type-thin zoomIn animlength2 animdelay1 animated hidden">
            Fast and reliable Craft CMS hosting
        </p>
    </div>

{% endblock %}




{% block content %}


{% include 'snippets/quotes.twig' with {
'quoteText'      : 'tattershall',
'quoteClasses'   : 'hero-quote pull-up'
}%}

<article class="post m-top-xxl">

    <p class="type-l">
        <b>Craft CMS</b> is made for developers and editors. Out of the box, Craft supports multiple environments. This is an absolute must when working in teams so you can develop the site locally, deploy to staging and then deploy to production.
    </p>
    <p>
        With fortrabbit <a href="{{ help_url }}/multi-staging">multi staging</a> is easy: Just spin up an App to create a new environment, import your database and <code>git push</code> your code. <a href="{{ help_url }}/collaboration">Team collaboration</a> is straight forward, code access for your mates based on access roles. fortrabbit is developer friendly, fast and reliable Craft CMS hosting. <br>
        We ❤ Craft CMS &amp; Craft Commerce.
    </p>
</article>
<p class="type-xs">Craft is a trademark of Pixel &amp; Tonic Inc.</p>




<h2 class="m-top-xl" id="apps">
    Featured Craft CMS Apps hosted on fortrabbit
</h2>

<div class="row gutter-l wrap m-top-m">

    {% set apps = getResource("customers-apps") %}
    {% for item in apps %}
    {% if item.technology == "Craft" and item.single %}
    <div class="third half-t" data-category="{{item.category | lower}}">
        <a href="{{ item.url }}" class="browserchrome">
            <div class="addressbar clip">
                {{ item.url }}
            </div>
            <div class="screenshot" style="background-image:url('{{ assetsremote }}/img/{{ item.screenshotfile }}');"></div>
        </a>
        <div class="type-s m-top-s">
            <b>{{ item.name }}</b>: {{ item.info }}. 
            {% if item.technolgy %}
            Buit in {{ item.technology }}
            {% endif %}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<p class="type-s m-top-m" style="z-index:1000; position: relative">
    <a href="/customers">See more from our customers</a>
</p>




<h2 class="m-top-xxl">Craft hosting presets</h2>
{% include '/snippets/simple-presets.twig' with { campaign: 'craft' }  %}

<div class="row gutter-xl wrap m-top-xl">
    <div class="third half-t">
        {% include '/snippets/batteries-included.twig'  %}
    </div>
    <div class="third half-t">
        <h3>Setting up Craft</h3>
        <p>
            <a href="{{ help_url }}/install-craft">Installing Craft 2.5</a> on fortrabbit hosting is painless. Just do some configuration changes, push your code and your are good to go.
        </p>
    </div>
    <div class="third half-t">
        {% include "snippets/why-not-navigation.twig" %}
    </div>
</div>


{% endblock %}
