{% extends "layout.twig" %}
{% set title = "Specs" %}
{% set semiActiveClass = 'pricing' %}

{% set javascripts %}
<script>
    $(function() {
        $.setSemiActiveClass('nav_pricing');
        $.setActiveClass('nav_specs');
        $('a[href^="#"]').on('click',function (e) {
            e.preventDefault();

            var target = this.hash;
            var $target = $(target);

            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            }, 400, 'swing', function () {
                window.location.hash = target;
            });
        });


        var refs = {};
        $('#x-references li').each(function(num) {
            var id = $(this).attr('id');
            if (id) refs['#' + $(this).attr('id')] = num + 1;
        });
        console.log(refs);
        $('.reflink').each(function() {
            var ref = $(this).attr('href');
            if (ref.match(/^#ref\-.+/) && refs[ref] !== undefined) {
                $(this).text(refs[ref]);
            } else {
                $(this).text('X');
            }
        })
    });
</script>
{% endset %}



{#
    TODO:
    * populate data via products.yml?
    * carefully check all contents and wordings here
    * check from where we can link to and from this page (quirks & constrains, platform, scaling etc)
    * IOPS by MySQL richtig > werte & erklärung
    * PHP requests checken
    * Connections REF erklären
#}


{% block content %}

<h1 class="m-top-xl" id="top">
    Specs <span class="amp">&amp;</span> limits
</h1>
{#
<p class="type-l">
    This is our approach to transparency.
</p>
#}

<div class="row m-top-xl m-bottom-s" id="php">
    <h3>PHP</h3>
    <a href="{{ help_url }}/php-scaling" class="auto linkstyle flex-end type-s">
        Scaling PHP on fortrabbit
    </a>
</div>

<div class="scrolltablewrapper">
    <table class="dense">
        <thead>
            <tr>
                <th class="keep">
                    Plan
                    <a href="#ref-scaling" class="reflink">1</a>
                </th>
                <th class="keep">
                    Level
                    <a href="#ref-level" class="reflink">2</a>
                </th>
                <th class="keep">
                    PHP requests/h
                    <a href="#ref-php-requests" class="reflink">5</a>
                </th>
                <th class="keep">
                    Nodes
                    <a href="#ref-nodes" class="reflink">3</a>
                </th>
                <th class="keep">
                    Shared
                    <a href="#ref-shared" class="reflink">19</a>
                </th>
                <th class="keep">
                    CPU priority
                    <a href="#ref-cpu-priority" class="reflink">4</a>
                </th>
                <th class="keep">
                    AWS
                    <a href="#ref-aws-resource" class="reflink">5</a>
                </th>
                <th class="keep">
                    Load balancer
                    <a href="#ref-load-balancer" class="reflink">6</a>
                </th>
                <th class="keep">
                    PHP memory
                    <a href="#ref-php-memory" class="reflink">7</a>
                </th>
                <th class="keep">
                    OPcache
                    <a href="#ref-opcache" class="reflink">8</a>
                </th>

                {#
                <th class="keep">
                    Default FPM
                    <a href="#ref-fpm-default" class="reflink">9</a>
                </th>
                #}

                <th class="keep">
                    PHP processes
                    <a href="#ref-fpm" class="reflink">10</a>
                </th>
                <th class="keep">
                    Monthly price
                    <a href="#ref-mprice" class="reflink">11</a>
                </th>
                <th class="keep">
                    Daily price
                    <a href="#ref-dprice" class="reflink">12</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {# currently not the plan
            <tr>
                <td class="keep">PHP xs</td><!-- plan/scaling -->
                <td>Tinkering</td><!-- level -->
                <td class="numbers">1</td><!-- nodes -->
                <td class="numbers">yes</td><!-- shared -->
                <td class="numbers">low</td><!-- cpu priority -->
                <td class="keep">t2 or m4</td><!-- aws -->
                <td class="keep">n/a</td><!-- routing -->
                <td class="numbers">64 MB</td><!-- memory -->
                <td class="numbers">32 MB</td><!-- opcache -->
                <td class="numbers">1</td><!-- total fpm -->
                <td class="numbers"><span class="type-thin">€</span>5</td><!-- mprice -->
                <td class="numbers"><span class="type-thin">€</span>0.17</td><!-- dprice -->
            </tr>
            #}

            {#
            <tr>
                <td colspan="13">PHP s</td>
            </tr>
            #}

            {{ _self.rowPHP('s', 1, 'Tinkering', 'EC2 r3', 5) }}
            {{ _self.rowPHP('s', 2, 'Production', 'EC2 m4', 15) }}
            {{ _self.rowPHP('s', 4, 'Production', 'EC2 m4', 30) }}
            {{ _self.rowPHP('s', 8, 'Production', 'EC2 m4', 60) }}

            {#
            <tr>
                <td colspan="13">PHP m</td>
            </tr>
            #}
            {{ _self.rowPHP('m', 1, 'Tinkering', 'EC2 r3', 10) }}
            {{ _self.rowPHP('m', 2, 'Production', 'EC2 m4', 30) }}
            {{ _self.rowPHP('m', 4, 'Production', 'EC2 m4', 60) }}
            {{ _self.rowPHP('m', 8, 'Production', 'EC2 m4', 120) }}

            {#
            <tr>
                <td colspan="13">PHP l</td>
            </tr>
            #}
            {{ _self.rowPHP('l', 1, 'Tinkering', 'EC2 r3', 15) }}
            {{ _self.rowPHP('l', 2, 'Production', 'EC2 m4', 60) }}
            {{ _self.rowPHP('l', 4, 'Production', 'EC2 m4', 120) }}
            {{ _self.rowPHP('l', 8, 'Production', 'EC2 m4', 240) }}

            {#
            <tr>
                <td colspan="13">PHP xl</td>
            </tr>
            #}
            {{ _self.rowPHP('xl', 2, 'Dedicated', 'EC2 c4', 380, '50-125k', '20-40') }}
            {{ _self.rowPHP('xl', 4, 'Dedicated', 'EC2 c4', 760, '100-250k', '40-80') }}

        </tbody>
    </table>
</div>

{{ _self.moreOnRequest('PHP') }}




<div class="row m-top-xl m-bottom-s" id="mysql">
    <h3>
        MySQL
    </h3>
    <a href="{{ help_url }}/mysql" class="auto linkstyle flex-end type-s">
        MySQL on fortrabbit
    </a>
</div>

<div class="scrolltablewrapper">
    <table class="dense">
        <thead>
            <tr>
                <th class="keep">
                    Plan
                    <a href="#ref-scaling" class="reflink">1</a>
                </th>
                <th class="keep">
                    Level
                    <a href="#ref-level" class="reflink">2</a>
                </th>
                <th class="keep">
                    Nodes
                    <a href="#ref-nodes" class="reflink">3</a>
                </th>
                <th class="keep">
                    Connections
                    <a href="#ref-mysql-connections" class="reflink">17</a>
                </th>
                <th class="keep">
                    Shared
                    <a href="#ref-shared" class="reflink">19</a>
                </th>
                <th class="keep">
                    AWS
                    <a href="#ref-aws-resource" class="reflink">5</a>
                </th>
                <th class="keep">
                    Storage
                    <a href="#ref-mysql-storage" class="reflink">13</a>
                </th>
                <th class="keep">
                    Index
                    <a href="#ref-mysql-index" class="reflink">14</a>
                </th>
                <th class="keep">
                    IOPS
                    <a href="#ref-mysql-iops" class="reflink">24</a>
                </th>
                <th class="keep">
                    Memory
                    <a href="#ref-mysql-memory" class="reflink">15</a>
                </th>
                <th class="keep">
                    Monthly price
                    <a href="#ref-mprice" class="reflink">11</a>
                </th>
                <th class="keep">
                    Daily price
                    <a href="#ref-dprice" class="reflink">12</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="keep">MySQL xxs</td><!-- scaling -->
                <td>Tinkering</td><!-- level -->
                <td class="numbers">1</td><!-- nodes -->
                <td class="numbers">4</td><!-- connections -->
                <td class="numbers">yes</td><!-- shared -->
                <td class="keep">RDS t2 or m3</td><!-- aws product -->
                <td class="numbers">32 MB</td><!-- storage -->
                <td class="numbers">16 MB</td><!-- index -->
                <td class="numbers">shared</td><!-- iops -->
                <td>shared</td><!-- RAM -->
                {{ _self.priceCols(2) }}
            </tr>
            <tr>
                <td class="keep">MySQL xs</td><!-- scaling -->
                <td>Tinkering</td><!-- level -->
                <td class="numbers">1</td><!-- nodes -->
                <td class="numbers">4</td><!-- connections -->
                <td class="numbers">yes</td><!-- shared -->
                <td class="keep">RDS t2 or m3</td><!-- aws product -->
                <td class="numbers">128 MB</td><!-- storage -->
                <td class="numbers">64 MB</td><!-- index -->
                <td class="numbers">shared</td><!-- iops -->
                <td>shared</td><!-- RAM -->
                {{ _self.priceCols(5) }}
            </tr>
            <tr>
                <td class="keep">MySQL s</td><!-- scaling -->
                <td>Production</td><!-- level -->
                <td class="numbers">2</td><!-- nodes -->
                <td class="numbers">16</td><!-- connections -->
                <td class="numbers">yes</td><!-- shared -->
                <td class="keep">RDS t2 or m3</td><!-- aws product -->
                <td class="numbers">512 MB</td><!-- storage -->
                <td class="numbers">256 MB</td><!-- index -->
                <td class="numbers">shared</td><!-- iops -->
                <td>shared</td><!-- RAM -->
                {{ _self.priceCols(15) }}
            </tr>
            <tr>
                <td class="keep">MySQL m</td><!-- scaling -->
                <td>Production</td><!-- level -->
                <td class="numbers">2</td><!-- nodes -->
                <td class="numbers">32</td><!-- connections -->
                <td class="numbers">yes</td><!-- shared -->
                <td class="keep">RDS t2 or m3</td><!-- aws product -->
                <td class="numbers">2 GB</td><!-- storage -->
                <td class="numbers">512 MB</td><!-- index -->
                <td class="numbers">shared</td><!-- iops -->
                <td>shared</td><!-- RAM -->
                {{ _self.priceCols(50) }}
            </tr>

            <tr>
                <td>MySQL l</td><!-- scaling -->
                <td>Dedicated</td><!-- level -->
                <td class="numbers">2</td><!-- nodes -->
                <td class="numbers">64</td><!-- connections -->
                <td class="numbers">no</td><!-- shared -->
                <td class="keep">RDS t2.small</td><!-- aws product -->
                <td class="numbers">50 GB</td><!-- storage -->
                <td class="numbers">1.3 GB</td><!-- index -->
                <td class="numbers">150</td><!-- iops -->
                <td class="numbers">2 GB</td><!-- RAM -->
                {{ _self.priceCols(125) }}
            </tr>
            <tr>
                <td>MySQL xl</td><!-- scaling -->
                <td>Dedicated</td><!-- level -->
                <td class="numbers">2</td><!-- nodes -->
                <td class="numbers">128</td><!-- connections -->
                <td class="numbers">no</td><!-- shared -->
                <td class="keep">RDS t2.medium</td><!-- aws product -->
                <td class="numbers">100 GB</td><!-- storage -->
                <td class="numbers">2.5 GB</td><!-- index -->
                <td class="numbers">300</td><!-- iops -->
                <td class="numbers">4 GB</td><!-- RAM -->
                {{ _self.priceCols(250) }}
            </tr>
            <tr>
                <td>MySQL xxl</td><!-- scaling -->
                <td>Dedicated</td><!-- level -->
                <td class="numbers">2</td><!-- nodes -->
                <td class="numbers">256</td><!-- connections -->
                <td class="numbers">no</td><!-- shared -->
                <td class="keep">RDS m4.large</td><!-- aws product -->
                <td class="numbers">200 GB</td><!-- storage -->
                <td class="numbers">5.3 GB</td><!-- index -->
                <td class="numbers">600</td><!-- iops -->
                <td class="numbers">8 GB</td><!-- RAM -->
                {{ _self.priceCols(500) }}
            </tr>


        </tbody>
    </table>
</div>
{{ _self.moreOnRequest('MySQL') }}



<div class="row m-top-xl m-bottom-s" id="memcache">
    <h3>
        Memcache
    </h3>
    <a href="{{ help_url }}/memcache" class="auto type-s linkstyle flex-end">
        Memcache on fortrabbit
    </a>
</div>

<div class="scrolltablewrapper">
    <table class="dense">
        <thead>
            <tr>
                <th class="keep">
                    Plan
                    <a href="#ref-scaling" class="reflink">1</a>
                </th>
                <th class="keep">
                    Level
                    <a href="#ref-level" class="reflink">2</a>
                </th>
                <th class="keep">
                    Nodes
                    <a href="#ref-nodes" class="reflink">3</a>
                </th>
                <th class="keep">
                    AWS
                    <a href="#ref-aws-resource" class="reflink">5</a>
                </th>
                <th class="keep">
                    Memory
                    <a href="#ref-memcache-memory" class="reflink">16</a>
                </th>
                <th class="keep">
                    Monthly price
                    <a href="#ref-mprice" class="reflink">11</a>
                </th>
                <th class="keep">
                    Daily price
                    <a href="#ref-dprice" class="reflink">12</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Memcache xs</td>{# scaling #}
                <td>Tinkering</td>{# level #}
                <td class="numbers">1</td>{# nodes #}
                <td class="keep">t2 or r3</td>{# aws product #}
                <td class="numbers">64 MB</td>{# memory #}
                {{ _self.priceCols(5) }}
            </tr>
            <tr>
                <td>Memcache s</td>{# scaling #}
                <td>Production</td>{# level #}
                <td class="numbers">2</td>{# nodes #}
                <td class="keep">t2 or r3</td>{# aws product #}
                <td class="numbers">128 MB</td>{# memory #}
                {{ _self.priceCols(10) }}
            </tr>
            <tr>
                <td>Memcache m</td>{# scaling #}
                <td>Production</td>{# level #}
                <td class="numbers">2</td>{# nodes #}
                <td class="keep">t2 or r3</td>{# aws product #}
                <td class="numbers">256 MB</td>{# memory #}
                {{ _self.priceCols(20) }}
            </tr>
            <tr>
                <td>Memcache l</td>{# scaling #}
                <td>Production</td>{# level #}
                <td class="numbers">2</td>{# nodes #}
                <td class="keep">t2 or r3</td>{# aws product #}
                <td class="numbers">512 MB</td>{# memory #}
                {{ _self.priceCols(40) }}
            </tr>
        </tbody>
    </table>
</div>

{{ _self.moreOnRequest('Memcache') }}



<div class="row m-top-xl m-bottom-s" id="worker">
    <h3>
        Worker
    </h3>
    <a href="{{ help_url }}/worker" class="auto linkstyle flex-end type-s">
        Worker on fortrabbit
    </a>
</div>
<div class="scrolltablewrapper">
    <table class="dense">
        <thead>
            <tr>
                <th class="keep">
                    Plan
                    <a href="#ref-scaling" class="reflink">1</a>
                </th>
                <!--
                <th class="keep">
                    Level
                    <a href="#ref-level" class="reflink">2</a>
                </th>
                -->
                <th class="keep">
                    Nodes
                    <a href="#ref-nodes" class="reflink">3</a>
                </th>
                <th class="keep">
                    CPU priority
                    <a href="#ref-cpu-priority" class="reflink">4</a>
                </th>
                <th class="keep">
                    AWS
                    <a href="#ref-aws-resource" class="reflink">5</a>
                </th>
                <th class="keep">
                    Memory
                    <a href="#ref-worker-memory" class="reflink">17</a>
                </th>
                <th class="keep">
                    Worker jobs
                    <a href="#ref-worker-jobs" class="reflink">5</a>
                </th>
                <th class="keep">
                    Monthly price
                    <a href="#ref-mprice" class="reflink">11</a>
                </th>
                <th class="keep">
                    Daily price
                    <a href="#ref-dprice" class="reflink">12</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Worker s</td><!-- scaling -->
                <!--<td>Tinkering</td><!-- level -->
                <td class="numbers">1</td><!-- nodes -->
                <td>very low</td><!-- cpu priority -->
                <td class="keep">r3 or m4</td><!-- aws product -->
                <td class="numbers">128 MB</td><!-- memory -->
                <td class="numbers">1</td><!-- max-jobs -->
                {{ _self.priceCols(5) }}
            </tr>
            <tr>
                <td>Worker m</td><!-- scaling -->
                <!--<td>Production</td><!-- level -->
                <td class="numbers">1</td><!-- nodes -->
                <td>low</td><!-- cpu priority -->
                <td class="keep">r3 or m4</td><!-- aws product -->
                <td class="numbers">512 MB</td><!-- memory -->
                <td class="numbers">4</td><!-- max-jobs -->
                {{ _self.priceCols(15) }}
            </tr>
            <tr>
                <td>Worker l</td><!-- scaling -->
                <!--<td>Production</td><!-- level -->
                <td class="numbers">1</td><!-- nodes -->
                <td>medium</td><!-- cpu priority -->
                <td class="keep">r3 or m4</td><!-- aws product -->
                <td class="numbers">1 GB</td><!-- memory -->
                <td class="numbers">8</td><!-- max-jobs -->
                {{ _self.priceCols(30) }}
            </tr>
            <tr>
                <td>Worker xl</td><!-- scaling -->
                <!--<td>Production</td><!-- level -->
                <td class="numbers">1</td><!-- nodes -->
                <td>high</td><!-- cpu priority -->
                <td class="keep">r3 or m4</td><!-- aws product -->
                <td class="numbers">2 GB</td><!-- memory -->
                <td class="numbers">16</td><!-- max-jobs -->
                {{ _self.priceCols(60) }}
            </tr>

        </tbody>
    </table>
</div>

{{ _self.moreOnRequest('Worker') }}


<div class="row m-top-xl m-bottom-s" id="tls">
    <h3>TLS</h3>
    <a href="{{ help_url }}/tls" class="auto linkstyle flex-end type-s">
        TLS on fortrabbit
    </a>
</div>

<div class="scrolltablewrapper">
    <table class="dense">
        <thead>
            <tr>
                <th>Plan</th>
                <th>Description</th>
                <th>Monthly price</th>
                <th>Daily price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>TLS free</td><!-- scaling -->
                <td>Secure HTTPS connections for your custom domains via Let’s Encrypt.</td><!-- level -->
                {{ _self.priceCols(0) }}
            </tr>
            <tr>
                <td>TLS custom</td><!-- scaling -->
                <td>Secure HTTPS connections for your custom domains, bring your own ceritficate.</td><!-- level -->
                {{ _self.priceCols(5) }}
            </tr>
        </tbody>
    </table>
</div>

<div class="row m-top-xl m-bottom-s" id="tls">
    <h3>Object Storage</h3>
    <a href="{{ help_url }}/object-storage" class="auto linkstyle flex-end type-s">
        Object Storage on fortrabbit
    </a>
</div>

<div class="scrolltablewrapper">
    <table class="dense">
        <thead>
            <tr>
                <th>Plan</th>
                <th>Storage <a href="#ref-object-storage" class="reflink">1</a></th>
                <th>Monthly price</th>
                <th>Daily price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Object Storage xs</td>
                <td>100 MB</td> <!-- storage -->
                {{ _self.priceCols(1) }}
            </tr>
            <tr>
                <td>Object Storage s</td>
                <td>2 GB</td> <!-- storage -->
                {{ _self.priceCols(5) }}
            </tr>
            <tr>
                <td>Object Storage m</td>
                <td>20 GB</td> <!-- storage -->
                {{ _self.priceCols(15) }}
            </tr>
            <tr>
                <td>Object Storage l</td>
                <td>100 GB</td> <!-- storage -->
                {{ _self.priceCols(45) }}
            </tr>
            <tr>
                <td>Object Storage xl</td>
                <td>200 GB</td> <!-- storage -->
                {{ _self.priceCols(90) }}
            </tr>
        </tbody>
    </table>
</div>

<h3 id="limits" class="m-top-xl m-bottom-m">
    App specific settings
</h3>
<div class="row gutter-l collapse-t">
    <div>
        <div class="row m-bottom-s">
            <h4>
                Deployment
            </h4>
            <a href="{{ help_url }}/deployment" class="auto linkstyle flex-end type-s">
                Deployment on fortrabbit
            </a>
        </div>
        <div class="scrolltablewrapper">
            <table class="dense">
                <tr>
                    <td>PHP memory limit in deployment<a href="#ref-deploy-memory" class="reflink">24</a></td>
                    <td class="numbers">512 MB</td>
                </tr>

                <tr>
                    <td>Max time for git push</td>
                    <td class="numbers">20 m</td>
                </tr>
                <tr>
                    <td>Max time for git pull</td>
                    <td class="numbers">10 m</td>
                </tr>
                <tr>
                    <td>Max time running Composer in deployment</td>
                    <td class="numbers">10 m</td>
                </tr>
                <tr>
                    <td>Max time running pre script in deployment</td>
                    <td class="numbers">10 m</td>
                </tr>
                <tr>
                    <td>Max time running post script in deployment</td>
                    <td class="numbers">10 m</td>
                </tr>
                <tr>
                    <td>Max size of deployment release package <a href="#ref-deployment-release-package" class="reflink">22</a></td>
                    <td class="numbers">200 MB</td>
                </tr>
            </table>
        </div>
        <div class="row m-bottom-s m-top-l">
            <h4>
                Remote SSH execution
            </h4>
            <a href="{{ help_url }}/remote-ssh-execution" class="auto linkstyle flex-end type-s">
                About remote SSH execution
            </a>
        </div>
        <div class="scrolltablewrapper">
            <table class="dense">
                <tr>
                    <td>PHP memory limit in execution<a href="#ref-deploy-memory" class="reflink">24</a></td>
                    <td class="numbers">512 MB</td>
                </tr>
                    <tr>
                        <td>Max execution time<a href="#ref-max-remote-execution-time" class="reflink">24</a></td>
                        <td class="numbers">20 m</td>
                    </tr>
            </table>
        </div>
        <div class="row m-bottom-s m-top-l">
            <h4>
                Storage <span class="amp">&amp;</span> traffic
            </h4>
        </div>
        <div class="scrolltablewrapper">
            <table class="dense">
                <tr>
                    <td>Ephemeral storage per App<a href="#ref-ephemeral-storage" class="reflink">21</a></td>
                    <td class="numbers">2 GB</td>
                </tr>
                <tr>
                    <td>Included traffic per month and App <a href="#ref-traffic" class="reflink">21</a></td>
                    <td class="numbers">50 GB</td>
                </tr>
                <tr>
                    <td>Each additional 5 GB traffic</td>
                    <td class="numbers"><span class="type-thin">€</span>1</td>
                </tr>
                <tr>
                    <td>Max size of one individual file in Object Storage</td>
                    <td class="numbers">500 MB</td>
                </tr>
                <tr>
                    <td>Default positive caching in Object Storage<a href="#ref-cache-positive" class="reflink">21</a></td>
                    <td class="numbers">24 h</td>
                </tr>
                <tr>
                    <td>Default negative caching in Object Storage <a href="#ref-cache-negative" class="reflink">21</a></td>
                    <td class="numbers">1 min</td>
                </tr>
            </table>
        </div>
        <div class="row m-bottom-s m-top-l" id="software">
            <h4>
                Software versions
            </h4>
        </div>
        <div class="scrolltablewrapper">
            <table class="dense">
                <tr>
                    <td>Apache</td>
                    <td class="numbers">2.4</td>
                </tr>
                <tr>
                    <td>PHP</td>
                    <td class="numbers">7.0 or 5.6</td>
                </tr>
                <tr>
                    <td>MySQL</td>
                    <td class="numbers">5.6</td>
                </tr>
            </table>
        </div>

    </div>{# col #}
    <div>
        <div class="row m-bottom-s" id="firewall">
            <h4>
                Firewall white-listings
            </h4>
            <a href="{{ help_url }}/quirks#toc-firewalling" class="auto linkstyle flex-end type-s">
                About firewalling
            </a>
        </div>
        <div class="scrolltablewrapper">
            <table class="dense">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Port</th>
                    </tr>
                </thead>
                <tbody>
                    {# While 20 & 21 are open, FTP is not possible so do better not promote it
                    <tr>
                        <td>File Transport Protocol (FTP)</td>
                        <td class="numbers">20</td>
                    </tr>
                    <tr>
                        <td>FTP control</td>
                        <td class="numbers">21</td>
                    </tr>
                    #}
                    <tr>
                        <td>Secure Shell (SSH)</td>
                        <td class="numbers">22</td>
                    </tr>
                    <tr>
                        <td>Simple Mail Transfer Protocol (SMTP)</td>
                        <td class="numbers">25</td>
                    </tr>
                    <tr>
                        <td>Domain Name System (DNS)</td>
                        <td class="numbers">53</td>
                    </tr>
                    <tr>
                        <td>Hypertext Transfer Protocol (HTTP)</td>
                        <td class="numbers">80</td>
                    </tr>
                    <tr>
                        <td>Post Office Protocol (POP3), Authenticated Post Office Protocol (APOP)</td>
                        <td class="numbers">110</td>
                    </tr>
                    <tr>
                        <td>Secure Sockets Layer (SSL, "HTTPS")</td>
                        <td class="numbers">443</td>
                    </tr>
                    <tr>
                        <td>Message Submission (Authenticated SMTP)</td>
                        <td class="numbers">465</td>
                    </tr>
                    <tr>
                        <td>Message Submission (Authenticated SMTP)</td>
                        <td class="numbers">587</td>
                    </tr>
                    <tr>
                        <td>IMAP SSL</td>
                        <td class="numbers">993</td>
                    </tr>
                    <tr>
                        <td>POP SSL</td>
                        <td class="numbers">995</td>
                    </tr>
                    <tr>
                        <td>Apple Push Notifications (APNs)</td>
                        <td class="numbers">2195</td>
                    </tr>
                    <tr>
                        <td>Apple Push Notifications (APNs)</td>
                        <td class="numbers">2196</td>
                    </tr>
                    <tr>
                        <td>MySQL &amp; MongoDB</td>
                        <td class="numbers">3306</td>
                    </tr>
                    <tr>
                        <td>PostgreSQL</td>
                        <td class="numbers">5432</td>
                    </tr>
                    <tr>
                        <td>Alternate Hyper Text Transfer Protocol (HTTP) port</td>
                        <td class="numbers">8080</td>
                    </tr>
                    <tr>
                        <td>Git</td>
                        <td class="numbers">9417</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row m-bottom-s m-top-l" id="php-extensions">
            <h4>
                PHP extensions
            </h3>
        </div>
        <p class="type-s">
            <strong>PHP 7</strong>: apcu, bcmath, blackfire, bz2, calendar, cgi-fcgi, core, ctype, curl, date, dba, dom, exif, fileinfo, filter, ftp, gd, gettext, gmp, hash, iconv, imagick, imap, intl, json, ldap, libsodium, libxml, mbstring, mcrypt, memcached, mongodb, mysqli, mysqlnd, newrelic, openssl, pcre, pdo, pdo_dblib, pdo_mysql, pdo_pgsql, pdo_sqlite, pgsql, phar, posix, readline, redis, reflection, session, shmop, simplexml, soap, sockets, spl, sqlite3, ssh3, standard, sysvmsg, sysvsem, sysvshm, tidy, tokenizer, wddx, xml, xmlreader, xmlwriter, xsl, yaml, zend opcache, zip, zlib
        </p>
        <p class="type-s">
            <strong>PHP 5</strong>: apc, apcu, bcmath, blackfire, bz2, calendar, cgi-fcgi, core, ctype, curl, date, dba, dom, ereg, exif, fileinfo, filter, ftp, gd, geoip, gettext, gmp, gnupg, hash, iconv, igbinary, imagick, imap, intl, ioncube, json, ldap, libsodium, libxml, mbstring, mcrypt, memcache, memcached, mhash, mongo, mongodb, mssql, mysql, mysqli, mysqlnd, newrelic, oauth, openssl, pcre, pdo, pdo_dblib, pdo_mysql, pdo_pgsql, pdo_sqlite, pgsql, phalcon, phar, posix, readline, redis, reflection, session, shmop, simplexml, soap, sockets, solr, sourceguardian, spl, sqlite3, ssh3, standard, stomp, sysvmsg, sysvsem, sysvshm, tidy, tokenizer, wddx, xml, xmlreader, xmlwriter, xsl, yaml, zend opcache, zip, zlib
        </p>
    </div>{# col #}
</div>



<p class="m-top-l">
    All specifications here apply only to New Apps, not for <a href="{{ help_url }}/old-apps">Old Apps</a>. Please also have a look at our <a href="{{ help_url }}/quirks">quirks article</a> about some other limitations.
</p>



<div class="row gutter-l collapse-t m-top-xl">
    <div>
        <div class="row m-bottom-s" id="support">
            <h3>
                Pro Support
            </h3>
            <a href="{{ www_url }}/support" class="auto flex-end linkstyle type-s">
                About our support
            </a>
        </div>

        {# TODO: grab support plans from products yml! #}

        <div class="scrolltablewrapper">
            <table class="dense">
                <thead>
                    <tr>
                        <th>Plan</th>
                        <th>Context</th>
                        <th>Monthly price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pro Support s</td>{# scaling #}
                        <td>solo freelancers</td>{# level #}
                        <td class="numbers"><span class="type-thin">€</span>25</td>{# mprice #}
                    </tr>
                    <tr>
                        <td>Pro Support m</td>{# scaling #}
                        <td>small teams</td>{# level #}
                        <td class="numbers"><span class="type-thin">€</span>75</td>{# mprice #}
                    </tr>
                    <tr>
                        <td>Pro Support l</td>{# scaling #}
                        <td>big teams</td>{# level #}
                        <td class="numbers"><span class="type-thin">€</span>250</td>{# mprice #}
                    </tr>
                    <tr>
                        <td>Pro Support xl</td>{# scaling #}
                        <td>enterprises</td>{# level #}
                        <td class="numbers">on request</td>{# mprice #}
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="type-s">
            Professional support is booked on Company level. The minimum billing period is one month.
        </p>


    </div>
    <div>
        <h3 class="m-bottom-s" id="software">
            Compatible frameworks &amp; CMS
        </h3>
        <div class="gutter-no type-s columns">
            <a href="{{ help_url }}/install-laravel" class="rowbox linkstyle p-xs">
                Laravel
            </a>
            <a href="{{ help_url }}/install-symfony" class="rowbox linkstyle p-xs">
                Symfony
            </a>
            <a href="{{ help_url }}/install-craft" class="rowbox linkstyle p-xs">
                Craft CMS
            </a>
            <a href="{{ help_url }}/install-wordpress" class="rowbox linkstyle p-xs">
                WordPress
            </a>
            <a href="{{ help_url }}/install-slim" class="rowbox linkstyle p-xs">
                Slim framework
            </a>
            <a href="{{ help_url }}/install-grav" class="rowbox linkstyle p-xs">
                Grav
            </a>
            <a href="{{ help_url }}/install-drupal-8" class="rowbox linkstyle p-xs">
                Drupal 8
            </a>
            <a href="{{ help_url }}/install-phalcon" class="rowbox linkstyle p-xs">
                Phalcon
            </a>
            <div class="rowbox p-xs">
                and many more
            </div>
        </div>
    </div>
</div>






<h3 class="m-top-xl" id="faq">
    FAQ
</h3>

<div class="row gutter-xl m-top-m wrap">
    <div class="third half-t">
        <h5>
            Where is the free tier?
        </h5>
        <p>
            Sorry, we don't offer <a href="{{ blog_url }}/free-web-hosting">free web hosting</a>. But you can elaborate our service offering by booking a preset on trial mode.
        </p>
    </div>

    <div class="third half-t">
        <h5>
            How much PHP memory will I need?
        </h5>
        <p>
            Initial vertical scaling is defined by your frameworks needs. Please refer to our <a href="{{help_url}}/php-scaling">PHP scaling help article</a> to learn more.
        </p>
    </div>


    {# eventuell für PHP xxs & PHP xs, sonst weg schmeissen…
    <div class="third half-t">
        <h5>
            Why is memory so limited?
        </h5>
        <p>
            You actually don't need more. The fortrabbit infra is different to classical hosting. Please refer to our <a href="{{ help_url }}/scaling#toc-why-does-my-app-have-so-little-memory-">scaling help article</a>.
        </p>
    </div>
    #}

    <div class="third half-t">
        <h5 id="backups">
            What about backups?{# <span class="amp">&amp;</span> redundancy#}
        </h5>
        <p>
            MySQL database backups are done daily. MySQL database backups are kept for seven days (seven backups for each database). Backups can be recouped on request.
        </p>
        {# Object Storage is bla bla bla. Code base is available in Git, one copy on your machine, one on our servers etc.  #}
    </div>

    <div class="third half-t">
        <h5>
            Can I have a custom quote?
        </h5>
        <p>
            Sure! Please <a href="mailto:sales@fortrabbit.com">tell us your needs</a> and together we design a tailor made set up for your App.
        </p>
    </div>

    <div class="third half-t">
        <h5>
            What happens when a limit is exceeded?
        </h5>
        <p>
            Most limits are "soft limits" or even just recommendations. Please see our dedicated <a href="{{ help_url }}/scaling#toc-exceeding-limits">exceeding limits overview</a>.
        </p>
    </div>



    <div class="third half-t">
        <h5>
            Further readings
        </h5>
        <div class="gutter-no m-top-s type-s">
            <a href="{{ help_url }}/scaling" class="rowbox linkstyle p-xs">
                When and how to scale
            </a>
            <a href="why-not-aws#fortrabbit-aws-usage" class="rowbox linkstyle p-xs">
                How we use AWS
            </a>
            <a href="{{ help_url }}/billing" class="rowbox linkstyle p-xs">
                All about our billing
            </a>
            <a href="{{ help_url }}/quirks" class="rowbox linkstyle p-xs">
                Quirks &amp; constrains
            </a>
        </div>
    </div>
    {#
    <div class="third half-t">
        {% include 'snippets/hosting-a-new-mindset.twig' %}
    </div>
    #}
</div>



<h3 id="references" class="m-top-l">
    References
</h3>

{# please keep it short + add deep links help article  #}
<ol class="type-s m-top-m" id="x-references">

    {# Generic #}
    <li id="ref-scaling"><b>Plan</b>: Identification of this extension state.</li>
    <li id="ref-level"><b>Level</b>: Category, recommended use case, either Tinkering, Production or Dedicated. <a href="{{ help_url }}/scaling#toc-tinkering">more</a></li>
    <li id="ref-mprice"><b>Monhtly price</b>: Costs for one full month, billed after usage.</li>
    <li id="ref-dprice"><b>Daily price</b>: Costs for a single day of use, minimum period.</li>

    {# PHP #}
    <li id="ref-php-requests"><b>PHP requests per hour</b>: PHP script executions, mostly akin to pageviews. <a href="{{ help_url }}/php-scaling#toc-php-requests">more</a></li>
    <li id="ref-nodes"><b>Nodes</b>: Individual copies, amout of computing instances, data redundancy.</li>
    <li id="ref-shared"><b>Shared</b>: Whether the App runs on a shared Node or not. The Dedicated level is not shared.</li>
    <li id="ref-cpu-priority"><b>CPU priority</b>: How many CPUs are dedicated to the App.</li>
    <li id="ref-aws-resource"><b>AWS</b>: Which AWS product or service is mainly in use.</li>
    <li id="ref-load-balancer"><b>Load balancer</b>: Request routing / distribution across Nodes.</li>
    <li id="ref-php-memory"><b>PHP memory</b>: equals PHP memory_limit. Dedicated plans have a PHP memory_limit of 1 GB. <a href="{{ help_url }}/php-scaling#toc-php-memory">more</a></li>
    <li id="ref-opcache"><b>OPcache</b>: Max allowed memory for OPcache and APCU usage.</li>
    <li id="ref-fpm"><b>PHP processes total</b>: Count of concurrent Fast CGI PHP processes, two per Node. <a href="{{ help_url }}/php-scaling#toc-php-processes">more</a></li>

    {# MySQL #}
    <li id="ref-mysql-storage"><b>MySQL storage</b>: Database capacity including index.</li>
    <li id="ref-mysql-index"><b>MySQL index</b>: Reserved index space within storage, soft limit. <a href="{{ help_url }}/mysql#toc-index"></a></li>
    <li id="ref-mysql-memory"><b>MySQL memory</b>: Reserved RAM for indices. Applies only to Dedicated level.</li>{# TODO?: Write something up in the help and link it #}
    <li id="ref-mysql-connections"><b>MySQL connections</b>: Amount of max allowed concurrent connections. <a href="{{ help_url }}/scaling#toc-mysql">more</a></li>
    <li id="ref-mysql-iops"><b>MySQL IOPS</b>: Amount if i/o operations per second. Applies only to Dedicated level.</li>{# TODO?: Write something up in the help and link it #}

    {# Memcache #}
    <li id="ref-memcache-memory"><b>Memcache memory</b>: Reserved RAM.  <a href="{{ help_url }}/scaling#toc-memcache"></a></li>

    {# Worker #}
    <li id="ref-worker-memory"><b>Worker memory</b>: Total available RAM to execute background jobs.</li>
    <li id="ref-worker-jobs"><b>Worker jobs</b>: Amount of max allowed jobs.</li>

    {# Object Storage #}
    <li id="ref-object-storage"><b>Object Storage size</b>: Size available to store total files. <a href="{{ help_url }}/object-storage">more</a></li>


    {# App basics & limits #}
    <li id="ref-deployment-release-package"><b>Deployment release package</b>: Compressed archive of all deployed files <a href="{{ help_url }}/deployment#toc-deployment-release-package">more</a></li>
    <li id="ref-ephemeral-storage"><b>Ephemeral storage</b>: Non-persistent local storage that will be replaced on each deploy. <a href="{{ help_url }}/quirks#toc-ephemeral-storage">more</a></li>
    <li id="ref-deploy-memory"><b>Deployment memory</b>: Memory available to Composer, pre &amp; post script execution + remote SSH execution. <a href="{{ help_url }}/deployment">more</a></li>
    <li id="ref-traffic"><b>Traffic</b>: All traffic generated by request to PHP scripts, static files and files in the Object Storage.</li>
    <li id="ref-cache-positive"><b>Positive cache</b>: Time duration for cache headers for existing file.</li>
    <li id="ref-cache-negative"><b>Negative cache</b>: Time duration for cache headers for not existing file (404).</li>
    <li id="max-remote-execution-time"><b>Max remote execution time</b>: Time duration after which remote SSH executed commands are aborted.</li>

</ol>




<p class="type-s m-top-l">
    Go back to: <a href="#top">top</a>, <a href="#php">PHP</a>, <a href="#mysql">MySQL</a>, <a href="#memcache">Memcache</a>. <br>
    All information provided are subject to errors.
</p>



{% endblock %}

{% block postcontent %}

{% endblock %}


{% macro moreOnRequest(component) %}
<p class="type-s">
    {% if component == 'MySQL' %}{% endif %}
    Larger plans are available. Please <a href="mailto:sales@fortrabbit.com">contact us</a>.
</p>
{% endmacro %}

{% macro dayPrice(price = 1) %}
{{ (price / 30) | round(2) }}
{% endmacro %}

{% macro priceCols(price = 1, currency = '€') %}
    <td class="numbers"><span class="type-thin">{{ currency }}</span>{{ price | round(2) }}</td><!-- mprice -->
    <td class="numbers"><span class="type-thin">{{ currency }}</span>{{ (price / 30) | round(2) }}</td><!-- dprice -->
{% endmacro %}

{% macro rowPHP(size = 's', node_count = 1, level = 'Tinkering', infra = '', price = 0.00, requests, total_fpm) %}

    {% set cpu = 'dedicated' %}

    {% if (level == 'Tinkering') %}
        {% set requests = '1k' %}
        {% set cpu = 'low' %}
    {% elseif(level == 'Production') %}
        {% set requests = (5*node_count) ~ 'k' %}
        {% if (size == 's') %}
            {% set cpu = 'medium' %}
        {% elseif (size == 'm') %}
            {% set cpu = 'high' %}
        {% elseif (size == 'l') %}
            {% set cpu = 'very high' %}
        {% endif %}
    {% endif %}

    {% if (size == 's') %}
        {% set memory = 128 %}
        {% set cache = memory/2 %}
    {% elseif (size == 'm') %}
        {% set memory = 256 %}
        {% set cache = memory/2 %}
    {% elseif (size == 'l') %}
        {% set memory = 512 %}
        {% set cache = memory/2 %}
    {% elseif (size == 'xl') %}
        {% set memory = 3 %}
        {% set memory_unit = 'GB' %}
        {% set cache = 512 %}
    {% endif %}

    <tr>
        <td class="keep">PHP {{ size }} {{ node_count }}</td><!-- plan/scaling -->
        <td>{{ level }}</td><!-- level -->
        <td class="numbers">{{ requests }}</td><!-- php requests -->
        <td class="numbers">{{ node_count }}</td><!-- nodes -->
        <td class="numbers">{{ (level == 'Dedicated') ? 'No' : 'Yes' }}</td><!-- shared -->
        <td class="numbers">{{ cpu }}</td><!-- cpu priority -->
        <td class="keep">{{ infra }}</td><!-- aws -->
        <td class="keep">{{ (level == 'Tinkering') ? 'n/a' : 'Cluster' }}</td><!-- routing -->
        <td class="numbers">{{ memory }} {{ memory_unit | default('MB')  }}</td><!-- memory -->
        <td class="numbers">{{ cache }} MB</td><!-- opcache -->
        <td class="numbers">{{ (total_fpm) ? total_fpm : node_count*2 }}</td><!-- total fpm -->
        {{ _self.priceCols(price) }}
    </tr>

{% endmacro %}
