{% extends "layout.twig" %}

{% set title            = "WordPress hosting in the cloud" %}
{% set activeClass      = 'nav_wordpress' %}
{% set bodyClass        = 'marketing' %}

{% set cta = {
    'button_wording_1': 'Start your trial',
    'button_wording_2': 'see WordPress hosting in action'
    }
%}


{% block precontent %}
    <div class="hero image wordpress oblique-end">
        <h1 style="font-size:7vw">
            Professional WordPress hosting in the cloud
        </h1>
        {% include 'snippets/quick-signup-stacked-hero.twig' with {
            'headline': 'Try a better WordPress hosting',
            'showBatteries': true
        }%}

    </div>
{% endblock %}




{% block content %}


    {% include 'snippets/quotes.twig' with {
    'quoteText'      : 'support2',
    'quoteClasses'   : 'hero-quote pull-up',
    'quoteTextClass' : 'type-xl p-l read-xl'
    }%}



    <div class="row wrap gutter-l m-top-xl collapse">
        <div class="third half-t">
            {% include '/snippets/batteries-included.twig'  %}
        </div>

        <div class="half half-t">
            <h3>All you need to get started</h3>
            <p>
                <a href="{{ help_url }}/install-wordpress-uni">Installing WordPress site</a> on fortrabbit is straight forward and well documented.
                Beside classic SFTP deployment, using <a href="{{ help_url }}/install-wordpress-4-pro">Git with Bedrock</a> is our recommended way to work on code with your team.
            </p>
            <p>
                Of course, WP-CLI is always pre-installed and accessible via SSH.
            </p>
        </div>
    </div>




    <h2 class="m-top-xl" id="apps">
        Featured WordPress Apps hosted on fortrabbit
    </h2>

    <div class="row gutter-l wrap m-top-m">

        {% set apps = getResource("customers-apps") %}
        {% for item in apps %}
            {% if item.technology == "WordPress" and item.single %}
                <div class="third half-t" data-category="{{item.category | lower}}">
                    <a href="{{ item.url }}" class="browserchrome">
                        <div class="addressbar clip">
                            {{ item.url }}
                        </div>
                        <div class="screenshot" style="background-image:url('{{ assetsremote }}/img/{{ item.screenshotfile }}');"></div>
                    </a>
                    <div class="type-s m-top-s">
                        <b>{{ item.name }}</b>: {{ item.info }}.
                        {% if item.technolgy %}
                            Buit in {{ item.technology }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <p class="type-s m-top-m" style="z-index:1000; position: relative">
        <a href="/customers">See more from our customers</a>
    </p>



    <article class="post m-top-xl read-xl">
        {% include 'snippets/software-focus-snippet.twig' with { 'software'      : 'WordPress' }%}
        <p class="type-l">
            No need to introduce WordPress. It's a cornerstone of the web and one of the reasons for the popularity of PHP. It's a blogging engine as well as a CMS. It's hackable and extremely skinnable. It's not known for a very modern PHP. But hey, there is a huge community and clients really love it!
        </p>
        <p class="type-l">
            fortrabbit is an uncomplicated WordPress hosting solution. It unites modern PHP development paradigms with classic workflows - the sophistcated PHP developer.
        </p>
    </article>
    <p class="type-xs m-top-m">
        WordPress is a trademark of the WordPress Foundation.
    </p>







{% endblock %}
