<div class="row gutter-l m-top-xl wrap collapse">
    <div class="third half-t">
        <h3>
            Workflows that work
        </h3>
        <p>
            {#This isn't some enterprise bullshit. #}The flexible Company model suits freelancers working with clients, agencies working with projects and startup teams of all sizes.
        </p>
        <p>
            <a href="{{ help_url }}/collaboration">Learn more about collaboration ›</a>
        </p>
    </div>
    <div class="third half-t">
        <h3 class="anchored" id="company-members">
            Delegation
            {# TODO: better wording for headline? #}
        </h3>
        <p>
            Company members can act on behalf of the Company: create new Apps and invite other team members.
        </p>
        <p>
            <a href="{{ help_url }}/company-collaboration">Learn more Company collaboration ›</a>
        </p>
    </div>
    <div class="third half-t">
        <h3 class="anchored" id="access-roles">
            Role based permissions
        </h3>
        <p>
            Different jobs require different access levels. Team members can be Owners and Admins, grant access on App level to Collaborators.
        </p>
        <p>
            <a href="{{ help_url }}/company-collaboration#toc-roles">Learn more about roles ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 class="anchored" id="app-collaborators">
            Unlimited App Collaboration
        </h3>
        <p>
            With any paid Company plan you can invite as many App collaborators as you want to all Apps of the Company. Work together on projects of any size.
        </p>
        <p>
            <a href="{{ help_url }}/app-collaboration">About App collaboration ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3 class="anchored" id="billing-contacts">
            Consolidated billing
        </h3>
        <p>
            Create multiple Billing Contacts per Company. Each Billing Contact has it's own payment method and invoice address.
        </p>
        <p>
            <a href="{{ help_url }}/company#toc-billing-contacts">Learn about Billing Contacts ›</a>
        </p>
    </div>

    <div class="third half-t">
        <h3>
            Team support
        </h3>
        <p>
            The support is aligned with the collaboration features. In other words: All members of your Company have access to support.
        </p>
    </div>
    <div class="third half-t">
        <h3 class="anchored" id="prio-support">
            Prioritized support
        </h3>
        <p>
            The higher the Company plan, the higher priority in the support queue. We can answer more quickly and take more time to dive into your problems.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Fast support replies
        </h3>
        <p>
             Support is chat. The median first response time is 30 minutes. Try it out now, by clicking the chat bubble in the bottom right corner.
        </p>
    </div>
    <div class="third half-t">
        <h3>
            Your offshore PHP pros
        </h3>
        <p>
            We can assist you with anything from general coding problems, to deployment work-flows, to performance tuning, to life-cycle planing, to database support.
        </p>
    </div>
</div>
