<footer class="spacertop">

    <a href="{{ dashboard_url }}/signup?{{ campaign }}" class="action fwdcta phuge" id="{{ identifier }}" data-user="unknown">
        <div class="boldfont largetype">{{ button_wording_1 }}</div>
        <div>{{ button_wording_2 }}</div>
    </a>

    <nav class="row gutterbig wrap" id="companynav">
        <div class="spacertopbig">
            <h5>Hosting a new mindset</h5>
            <a id="nav_laravel" class="rowbox fineprint" href="{{ www_url }}/laravel-hosting" title="High performance Laravel PHP hosting">Laravel</a>
            <a id="nav_symfony" class="rowbox fineprint" href="{{ www_url }}/symfony-hosting" title="High performance Symfony PHP hosting">Symfony</a>
            <a id="nav_drupal8" class="rowbox fineprint" href="{{ www_url }}/drupal-hosting" title="High performance Drupal PHP hosting">Drupal 8</a>
            <a id="nav_phalcon" class="rowbox fineprint" href="{{ www_url }}/phalcon-hosting"  title="High performance Phalcon PHP hosting">Phalcon</a>
        </div>
        <div class="spacertopbig">
            <h5>Hosting you</h5>
            <a id="nav_agency" class="rowbox fineprint" href="{{ www_url }}/freelancer-hosting" title="Hosting for freelance developers">Freelancer</a>
            <a id="nav_startup" class="rowbox fineprint" href="{{ www_url }}/startup-hosting" title="Hosting for startups and SMB">Startup</a>
            <a id="nav_freelancer" class="rowbox fineprint" href="{{ www_url }}/agency-hosting" title="Hosting for web agencies">Digital agency</a>
        </div>

        <div class="spacertopbig">
            <h5>Connect</h5>
            <a class="rowbox row" href="http://status.fortrabbit.com" id="status">
                <div>Status</div><div class="auto flexright status none">●</div>
            </a>
            <a class="rowbox fineprint" href="https://twitter.com/fortrabbit">Twitter</a>
            <a id="nav_contact" class="rowbox fineprint" href="{{ www_url }}/contact">Contact</a>
        </div>
        <div class="spacertopbig">
            <h5>Discover</h5>
            <a id="nav_about" class="rowbox fineprint" href="{{ www_url }}/about" title="Our PHP hosting history">About us</a>
            <a id="nav_support" class="rowbox fineprint" href="{{ www_url }}/support" title="Support as a Service">Support as a Service</a>
        </div>
        <div class="spacertopbig">
            <h5>Digg deeper</h5>
            <a class="rowbox fineprint" href="{{ help_url }}/collaboration"  title="Hosting with team work">Teamwork</a>
            <a class="rowbox fineprint" href="{{ help_url }}/the-platform" title="Developer delight">Platform</a>
            <a class="rowbox fineprint" href="{{ help_url }}/security"  title="Secure PHP hosting">Security</a>
            <a class="rowbox fineprint" href="{{ help_url }}/billing"  title="Fair billing">Billing</a>
        </div>
        <div class="spacertopbig">
            <h5>Legal</h5>
            <a class="rowbox fineprint" href="{{ www_url }}/contact#legal-notice" title="Imprint">Site notice</a>
            <a id="nav_privacy" class="rowbox fineprint" href="{{ www_url }}/privacy-policy">Privacy policy</a>
            <a id="nav_terms" class="rowbox fineprint" href="{{ www_url }}/terms">Terms</a>
            <a id="nav_sla" class="rowbox fineprint" href="{{ www_url }}/sla">SLA</a>
        </div>
    </nav>
</footer>