<a class="action bigger fwdcta" href="{{ dashboard_url }}/signup?{{ campaign }}" id="{{ identifier|default('cta_try-it-for-free') }}">
	{{ button_wording_1|default('Try it for free')  }}
	<span class="font-thin hidemobile">{{ button_wording_2|default('— no credit card required') }}</span>
</a>