{% macro scaling(linkname, title, description, price, class, nolink) %}

{% if nolink %}
<div class="box m-top-xs row{% if class %} {{ class }}{% endif %} comp_detail">
{% else %}
<a href="#" class="box m-top-xs row{% if class %} {{ class }}{% endif %} comp_detail" id="{{ linkname }}">
{% endif %}

    <div>
        <div class="font-bold">{{ title }}</div>
        <div>{{ description | raw }}</div>
    </div>
    <div class="right type-l auto">
        {% if price %}
        <span class="font-thin">€</span><span class="font-bold">{{ price }}</span>
        {% elseif other %}
        <span class="font-thin">{{ other }}</span>
        {% endif %}
    </div>

{% if nolink %}
</div>
{% else %}
</a>
{% endif %}

{% endmacro %}