{% import 'snippets/component-box.twig' as box %}

<div class="comp_detailsgroup box p-xl">
    <h2>PHP scaling</h2>
    <div class="row gutter-no collapse tablet">
        <div class="third">
            <h5 class="m-top-l">Tinkering </h5>
            <div class="gutter-no">
                <div class="box">1 Node</div>
                {{ box.scaling('php-xxs-new', 'New PHP xxs',  '32 MB memory',   '2.50', 'active') }}
                {{ box.scaling('php-xs-new',  'New PHP xs',   '64 MB memory',   '5'   ) }}
            </div>
        </div>
    </div>
    <h5 class="m-top-l">Production </h5>
    <div>
        <div class="row gutter-no collapse tablet">
            <div class="third gutter-no">
                <div class="box">2 Nodes</div>
                {{ box.scaling('php-s2-new', 'New PHP s 2',  '2 × 128 MB memory',    '15') }}
                {{ box.scaling('php-m2-new', 'New PHP m 2',  '2 × 256 MB memory',    '30') }}
                {{ box.scaling('php-l2-new', 'New PHP l 2',  '2 × 512 MB memory',    '60') }}
            </div>
            <div class="third gutter-no">
                <div class="box">4 Nodes</div>
                {{ box.scaling('php-s4-new',  'New PHP s 4',  '4 × 128 MB memory',    '30') }}
                {{ box.scaling('php-m4-new',  'New PHP m 4',  '4 × 256 MB memory',    '60') }}
                {{ box.scaling('php-l4-new',  'New PHP l 4',  '4 × 512 MB memory',    '120') }}
            </div>
            <div class="third gutter-no">
                <div class="box">8 Nodes</div>
                {{ box.scaling('php-s8-new','New PHP s 8',  '8 × 128 MB memory',    '60') }}
                {{ box.scaling('php-m8-new','New PHP m 8',  '8 × 256 MB memory',    '120') }}
                {{ box.scaling('php-l8-new','New PHP l 8',  '8 × 512 MB memory',    '240') }}
            </div>
        </div>
        {#
        <p>
            Please mind that this might require Memcache and some logic in your code to store session data correctly.
        </p>
        #}
    </div>
    <div class="row gutter-l collapse m-top-l">
        <div class="third">
            <h5><span class="type-thin">↓</span> Vertical scaling</h5>
            <p>
                <b>Scale up</b>: Down the rows are scalings with more RAM for FastCGI PHP processes, Apache and OS are excluded. Your Apps memory needs are defined by framework/CMS and your coding skills. <a href="#">See our PHP memory comparison</a>.
            </p>
        </div>
        <div class="third">
            <h5><span class="type-thin">→</span> Horizontal scaling</h5>
            <p>
                <b>Scale out</b>: Further right each columns doubles the number of Nodes your App runs on simultaneously. That makes your App capable of handling more parallel requests. Mind that you might need Memcache to handle session data for production scalings. 
            </p>
        </div>
    </div>
</div>