{% import 'snippets/component-box.twig' as box %}

<div class="box p-xl comp_detailsgroup">
    <h2>MySQL scaling</h2>
    {#<p>THE database in different sizes.</p>#}
    <div class="row gutter-l collapse tablet wrap">
        <div class="third">
            <h4>Tinkering</h4>
            <div class="gutter-no">
                <a href="#" class="box mysql-off-old comp_detail" id="mysql-old">
                    MySQL off
                </a>
                {{ box.scaling('mysql-s-old',    'MySQL s',        '64 MB storage<br> 4 connections',   '2') }}
            </div>
        </div>
        <div class="third">
            <h4>Production</h4>
            <div class="gutter-no">
                {{ box.scaling('mysql-m-old',    'MySQL m',        '512 MB storage<br> 16 connections<br> replicated',     '17') }}
                {{ box.scaling('mysql-l-old',    'MySQL l',        '2048 MB storage<br> 32 connections<br> replicated',    '47') }}
            </div>
        </div>
        <div class="third">
            <h4>Dedicated</h4>
            <div class="gutter-no">
                {{ box.scaling('mysql-xl-old',   'MySQL xl',       '20 GB storage<br> 1.7 GB memory<br> replicated',     '100') }}
                {{ box.scaling('mysql-xxl-old',  'MySQL xxl',      '50 GB storage<br> 3.75 GB memory<br> replicated',     '180') }}
                {{ box.scaling('mysql-xxxl-old', 'MySQL xxxl',     '200 GB storage<br> 7.5 GB memory<br> replicated',    '400') }}
            </div>
        </div>
    </div>
    <div class="row gutter-l collapse tablet m-top-l">
        <div class="third">
            <h5>Connections</h5>
            <p>
                How much concurrent requests the database can handle. Usually each MySQL connection should be backed by a PHP process, but that heavily depends on the type of the application.
            </p>
        </div>
        <div class="third">
            <h5>High availability</h5>
            <p>
                Production and dedicated database scalings are replicated for more safety. the database runs on two Nodes in a master/slave configuration.
            </p>
        </div>
        <div class="third">
            <h5>Dedicated resources</h5>
            {# TODO: richtig texten! #}
            <p>
                All dedicated database scalings come with even more storage, full CPU and even more I/O.
            </p>
        </div>
    </div>
</div>