{% macro scaling(linkname, title, description, price, class, nolink) %}

{% if nolink %}
<div class="box row spacertop {% if class %}{{ class }}{% endif %} comp_detail">
{% else %}
<a href="#" class="box row spacertop {% if class %}{{ class }}{% endif %} comp_detail" id="{{ linkname }}">
{% endif %}

    <div>
        <div class="boldfont">{{ title }}</div>
        <div>{{ description | raw }}</div>
    </div>
    <div class="right lead auto">
        {% if price %}
        <span class="thinfont">€</span><span class="boldfont">{{ price }}</span>
        {% elseif other %}
        <span class="thinfont">{{ other }}</span>
        {% endif %}
    </div>

{% if nolink %}
</div>
{% else %}
</a>
{% endif %}


{% endmacro %}