
{% import 'snippets/componentlist-item.twig' as comp %}

<div id="oldapps" class="gutter-no m-top-s">
    <div class="list_row">
        {{ comp.row('base-old',      'Base',        'SSH/SFTP, Git, 5 GB storage, 50 GB traffic',   '4',    '',      'nolink'   ) }}
    </div>
    <div class="list_row">
        {{ comp.row('php-xs-old',     'PHP xs',       '1 process, 32 MB cache',                      '4'     ,''      ,''        ) }}
        {{ comp.row('php-s-old',      'PHP s',        '2 processes, 32 MB cache',                    '9'     ,''      ,''        ) }}
        {{ comp.row('php-m-old',      'PHP m',        '4 processes, 32 MB cache',                    '17'    ,''      ,''        ) }}
        {{ comp.row('php-l-old',      'PHP l',        '2x4 processes, 64 MB cache',                  '39'    ,''      ,''        ) }}
        {{ comp.row('php-xl-old',     'PHP xl',       '4x4 processes, 128 MB cache',                 '74'    ,''      ,''        ) }}
        {{ comp.row('php-xxl-old',    'PHP xxl',      '8x4 processes, 256 MB cache',                 '156'   ,''      ,''        ) }}
        {% include 'snippets/component-php-old.twig' %}
    </div>

    <div class="list_row">
        {{ comp.row('mysql-old',        'MySQL',         'Database',                                      ''   ,''       ,''  ,'–'        ) }}
        {{ comp.row('mysql-s-old',      'MySQL s',       '64 MB storage, 4 connections',                  '2'   ,''      ,''        ) }}
        {{ comp.row('mysql-m-old',      'MySQL m',       '512 MB storage, 16 connections, replicated',    '17'  ,''      ,''        ) }}
        {{ comp.row('mysql-l-old',      'MySQL l',       '2048 MB storage, 32 connections, replicated',   '47'  ,''      ,''        ) }}
        {{ comp.row('mysql-xl-old',     'MySQL xl',      '20 GB storage, 1.7 GB memory, replicated',      '100'  ,''      ,''        ) }}
        {{ comp.row('mysql-xxl-old',    'MySQL xxl',     '50 GB storage, 3.75 GB memory, replicated',     '180'  ,''      ,''        ) }}
        {{ comp.row('mysql-xxxl-old',   'MySQL xxxl',    '200 GB storage, 7.5 GB memory, replicated',     '400'  ,''      ,''        ) }}
        {% include 'snippets/component-mysql-old.twig' %}
    </div>

    <div class="list_row">
        {{ comp.row('memcache-old',     'Memcache',        'Network caching',                      ''   ,''       ,''       ,'–' ) }}
        {{ comp.row('memcache-xs-old',  'Memcache xs',     '64 MB memory',                         '5'  ,''       ,''        ) }}
        {{ comp.row('memcache-s-old',   'Memcache s',      '2 x 128 MB memory',                    '15' ,''       ,''        ) }}
        {{ comp.row('memcache-m-old',   'Memcache m',      '2 x 512 MB memory',                    '60' ,''       ,''        ) }}
        {% include 'snippets/component-memcache-old.twig' %}
    </div>

    <div class="list_row">
        {{ comp.row('workers-old',      'Workers Node',         'Background tasks and crons',              ''             ,'','' ,'–'       ) }}
        {{ comp.row('workers-xs-old',   'Workers Node xs',      '400 MB memory, micro CPU',                '35'                    ) }}
        {{ comp.row('workers-s-old',    'Workers Node s',       '1.5 GB memory, small CPU',                '35'                    ) }}
        {{ comp.row('workers-m-old',    'Workers Node m',       '3.5 GB memory, medium CPU',               '35'                    ) }}
        {{ comp.row('workers-l-old',    'Workers Node l',       '3.5 GB memory, small CPU',                '35'                    ) }}
        {% include 'snippets/component-workers-old.twig' %}
    </div>
    <div class="list_row">
        {{ comp.row('tls-old',          'TLS Node', 'https for your custom domain',                         '','','', '–'                     ) }}
        {% include 'snippets/component-ssl-old.twig' %}
    </div>
</div>
