{% macro row(linkname, title, specs, price, class, nolink, other) %}
    {% if not nolink %}
    <a href="#" class="{{ linkname }} box row{% if class %} {{ class }}{% endif %} comp_listitem" id="comp_{{ linkname }}">
    {% else %}
    <div class="{{ linkname }} box row{% if class %} {{ class }}{% endif %} comp_listitem" id="comp_{{ linkname }}">
    {% endif %}
        <div>
            <div class="type-bold">{{ title }}</div>
            <div>{{ specs }}</div>
        </div>
        <div class="right auto keep type-xl">
            {% if price %}
            <span class="type-thin">€</span><span class="type-bold">{{ price }}</span>
            {% elseif other %}
            <span class="type-thin">{{ other|raw }}</span>
            {% endif %}
        </div>
    {% if not nolink %}
    </a>
    {% else %}
    </div>
    {% endif %}
{% endmacro %}


{% import _self as comp %}



{#            linkname     title          specs                                           price   dimmed   nolink    #}

<div id="newapps" class="gutter-no">
    <div class="list_row">
        {{ comp.row('base-new',       'New Base',        'Git, 1 GB storage, 50 GB traffic',   '0'    ,'newapp'       ,'nolink', '<span class="type-thin">€</span><span class="type-bold">0</span>'  ) }}
    </div>
    <div class="list_row">
        {#           linkname,         title,         specs,                               price,         class,       nolink, other #}
        {{ comp.row('php-xxs-new',    'New PHP xxs',  '32 MB memory',                      '2.50'       ,'newapp'      ,''  ) }}
        {{ comp.row('php-xs-new',     'New PHP xs',   '64 MB memory',                      '5'          ,'newapp'      ,''  ) }}
        {{ comp.row('php-s2-new',     'New PHP s 2',  '2 x 128 MB memory',                 '15'         ,'newapp'      ,''  ) }}
        {{ comp.row('php-m2-new',     'New PHP m 2',  '2 x 256 MB memory',                 '30'         ,'newapp'      ,''  ) }}
        {{ comp.row('php-l2-new',     'New PHP l 2',  '2 x 512 MB memory',                 '60'         ,'newapp'      ,''  ) }}
        {{ comp.row('php-s4-new',     'New PHP s 4',  '4 x 128 MB memory',                 '30'         ,'newapp'      ,''  ) }}
        {{ comp.row('php-m4-new',     'New PHP m 4',  '4 x 256 MB memory',                 '60'         ,'newapp'      ,''  ) }}
        {{ comp.row('php-l4-new',     'New PHP l 4',  '4 x 512 MB memory',                 '120'        ,'newapp'      ,''  ) }}
        {{ comp.row('php-s8-new',     'New PHP s 8',  '8 x 128 MB memory',                 '60'         ,'newapp'      ,''  ) }}
        {{ comp.row('php-m8-new',     'New PHP m 8',  '8 x 256 MB memory',                 '120'        ,'newapp'      ,''  ) }}
        {{ comp.row('php-l8-new',     'New PHP l 8',  '8 x 512 MB memory',                 '240'        ,'newapp'      ,''  ) }}
        {% include 'snippets/component-php-new.twig' %}
    </div>
    <div class="list_row">
        {{ comp.row('mysql-xxs-new',  'New MySQL xxs',   '32 MB strorage',                 '2.50'       ,'newapp'       ,'nolink'  ) }}
        {#{% include 'snippets/component-mysql-new.twig' %}#}
    </div>
    <div class="list_row">
        {{ comp.row('memcache-new',   'New Memcache',       'Not available yet',           ''          ,'newapp'     ,'nolink'  ) }}
    </div>
    <div class="list_row">
        {{ comp.row('workers-new',    'New Workers',     'Not available yet',               ''          ,'newapp'     ,'nolink'  ) }}
    </div>
    <div class="list_row">
        {{ comp.row('workers-new',    'New Workers',     'Not available yet',               ''          ,'newapp'     ,'nolink'  ) }}
    </div>
    <div class="list_row">
        {{ comp.row('tls-new',        'New TLS',         'Not available yet',               ''          ,'newapp'     ,'nolink'  ) }}
    </div>
</div>

<div id="oldapps" class="gutter-no">
    <div class="list_row">
        {{ comp.row('base-old',      'Base',        'SSH/SFTP, Git, 5 GB storage, 50 GB traffic',   '4',    '',      'nolink'   ) }}
    </div>
    <div class="list_row">
        {{ comp.row('php-xs-old',     'PHP xs',       '1 process, 32 MB cache',                      '4'     ,''      ,''        ) }}
        {{ comp.row('php-s-old',      'PHP s',        '2 processes, 32 MB cache',                    '9'     ,''      ,''        ) }}
        {{ comp.row('php-m-old',      'PHP m',        '4 processes, 32 MB cache',                    '17'    ,''      ,''        ) }}
        {{ comp.row('php-l-old',      'PHP l',        '2x4 processes, 64 MB cache',                  '39'    ,''      ,''        ) }}
        {{ comp.row('php-xl-old',     'PHP xl',       '4x4 processes, 128 MB cache',                 '74'    ,''      ,''        ) }}
        {{ comp.row('php-xxl-old',    'PHP xxl',      '8x4 processes, 256 MB cache',                 '156'   ,''      ,''        ) }}
        {% include 'snippets/component-php-old.twig' %}
    </div>

    <div class="list_row">
        {{ comp.row('mysql-old',        'MySQL',         'Database',                                      ''   ,''       ,''  ,'–'        ) }}
        {{ comp.row('mysql-s-old',      'MySQL s',       '64 MB storage, 4 connections',                  '2'   ,''      ,''        ) }}
        {{ comp.row('mysql-m-old',      'MySQL m',       '512 MB storage, 16 connections, replicated',    '17'  ,''      ,''        ) }}
        {{ comp.row('mysql-l-old',      'MySQL l',       '2048 MB storage, 32 connections, replicated',   '47'  ,''      ,''        ) }}
        {{ comp.row('mysql-xl-old',     'MySQL xl',      '20 GB storage, 1.7 GB memory, replicated',      '100'  ,''      ,''        ) }}
        {{ comp.row('mysql-xxl-old',    'MySQL xxl',     '50 GB storage, 3.75 GB memory, replicated',     '180'  ,''      ,''        ) }}
        {{ comp.row('mysql-xxxl-old',   'MySQL xxxl',    '200 GB storage, 7.5 GB memory, replicated',     '400'  ,''      ,''        ) }}
        {% include 'snippets/component-mysql-old.twig' %}
    </div>

    <div class="list_row">
        {{ comp.row('memcache-old',     'Memcache',        'Network caching',                      ''   ,''       ,''       ,'–' ) }}
        {{ comp.row('memcache-xs-old',  'Memcache xs',     '64 MB memory',                         '5'  ,''       ,''        ) }}
        {{ comp.row('memcache-s-old',   'Memcache s',      '2 x 128 MB memory',                    '15' ,''       ,''        ) }}
        {{ comp.row('memcache-m-old',   'Memcache m',      '2 x 512 MB memory',                    '60' ,''       ,''        ) }}
        {% include 'snippets/component-memcache-old.twig' %}
    </div>

    <div class="list_row">
        {{ comp.row('workers-old',      'Workers Node',         'Background tasks and crons',              ''             ,'','' ,'–'       ) }}
        {{ comp.row('workers-xs-old',   'Workers Node xs',      '400 MB memory, micro CPU',                '35'                    ) }}
        {{ comp.row('workers-s-old',    'Workers Node s',       '1.5 GB memory, small CPU',                '35'                    ) }}
        {{ comp.row('workers-m-old',    'Workers Node m',       '3.5 GB memory, medium CPU',               '35'                    ) }}
        {{ comp.row('workers-l-old',    'Workers Node l',       '3.5 GB memory, small CPU',                '35'                    ) }}
        {% include 'snippets/component-workers-old.twig' %}
    </div>
    <div class="list_row">
        {{ comp.row('tls-old',          'TLS Node', 'https for your custom domain',                         '','','', '–'                     ) }}
        {% include 'snippets/component-ssl-old.twig' %}
    </div>
</div>


<div class="row gutter-xs m-top-xs">
    <div class="auto">
        <a href="{{ dashboard_url }}/signup?{{ campaign }}" class="row action b-4 p-l fwdcta type-xl" id="pricing_cta_start_free_trial">
            <div>Try</div>
        </a>
    </div>
    <div>
        <a href="{{ dashboard_url }}/signup?{{ campaign }}" class="row p-l action fwdcta" id="pricing_cta_book_now">
            <div class="type-bold type-xl">Buy</div>
            <div class="auto right">
                <span class="type-thin type-l">monthly</span> <span class="type-thin type-xl">€</span><span class="type-bold type-xl" id="x-totalprice">5</span>
            </div>
        </a>
    </div>
</div>

<div class="type-s m-top-m"><b>No credit card required for trial.</b> Visa, Master, SEPA accepted once you decide to upgrade.</div>

{#
<p id="betamorebutton">
    <a href="{{ blog_url }}/new-apps-are-here">
        Learn more about the BETA
    </a>
</p>
#}
