<h1 class="poetry m-top-xshuge">
	Features
</h1>
{#<p class="poetry">Out of the box.</p>#}
{# <p class="poetry">Developers delight.</p> #}

<div class="row wrap gutterbig collapse m-top-xsbig">
	<div class="quarter">
		<h4>
			Git deployment
		</h4>
		<p>
			Just <a href="{{ help_url }}/git" id="start_text_git_help">Git-push-to-deploy</a> to see your code changes online instantly.
			{#uploaded to the remote repo and then synchronized into the web space.#}
		</p>
	</div>
	<div class="quarter">
		<h4>
			Composer integration
		</h4>
		<p>
			<a href="{{ help_url }}/composer" id="start_text_composer_help">Trigger a Composer hook</a> with a special keyword in your commit message.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Deployment file
		</h4>
		<p>
			Fine-tune your deployment with a <a href="{{ help_url }}/deployment-file" id="start_text_deploymentfile_help">fortrabbit.yml file</a> in your root folder.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Persistent storage
		</h4>
		<p>
			Save runtime data and user generated content directly on the local file system.
		</p>
	</div>
	<div class="quarter">
		<h4>
			SSH &amp; SFTP
		</h4>
		<p>
			With <a href="{{ help_url }}/ssh-sftp" id="start_text_ssh_help">command line access</a> you can <code>wget</code> and <code>tar zxf</code> something, <code>tail</code> PHP error logs, <code>rsync</code> code, <code>vim</code> files on the fly, mass modify with <code>sed</code> and <code>awk</code>.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Teamwork
		</h4>
		<p>
			Map your real world business relations and <a href="{{ help_url }}/collaboration" id="start_text_collab_help">manage multiple companies and Apps</a> from one single Account with role-based access control.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Help &amp; support
		</h4>
		<p>
			Help yourself with the extensive <a href="{{ help_url }}" id="start_text_help">platform documentation</a> or use our affordable <a href="/support" id="start_text_support">professional support</a> as your PHP back-office.
		</p>
	</div>
	<div class="quarter">
		<h4>
			Fair pricing
		</h4>
		<p>
			With a <a href="{{ help_url }}/billing" id="start_text_billing_help">consumption based billing</a> you only pay for actual usage. The minimum billing period is one day.
		</p>
	</div>
</div>