<h2 class="m-top-xxl type-xxl type-center">Hosting a new mindset</h2>
<div class="type-center type-l m-top-m m-bottom-m">
    fortrabbit is built to support modern frameworks
</div>
<div class="row gutter-l m-top-l m-bottom-l">
    <div class="half-t">
        <a href="/laravel-hosting">
            <img src="{{ assetsremote }}/img/laravel.svg" alt="Laravel Logo">
        </a>
    </div>
    <div class="half-t">
        <a href="/wordpress-hosting">
            <img src="{{ assetsremote }}/img/wordpress-logo.svg" alt="WordPress Logo">
        </a>
    </div>
    <div class="half-t">
        <a href="/drupal-hosting">
            <img src="{{ assetsremote }}/img/drupal8.svg" alt="Drupal 8 Logo">
        </a>
    </div>
    <div class="half-t">
        <a href="/symfony-hosting">
            <img src="{{ assetsremote }}/img/symfony.svg" alt="Symfony Logo">
        </a>
    </div>
    <div class="half-t">
        <a href="/phalcon-hosting">
            <img src="{{ assetsremote }}/img/phalcon.svg" alt="Phalcon Logo">
        </a>
    </div>
</div>