<a href="{{ dashboard_url }}/signup?{{ campaign }}" class="action fwdcta inline animated fadeIn animdelay2" id="{{ identifier|default('cta_hero_start_free_trial') }}">
    <span class="type-bold">{{ button_wording_1|default('Start your free trial')  }}</span>
    {% if button_wording_2 %}
        <span class="hidemobile">{{ button_wording_2 }}</span>
    {% endif %}
</a>