<h3>Hosting your project</h3>
<div class="gutter-no m-top-s">
    <a class="type-s rowbox linkstyle p-xs" href="{{ www_url }}/laravel-hosting" title="High performance Laravel PHP hosting">Laravel</a>
    <a class="type-s rowbox linkstyle p-xs" href="{{ www_url }}/symfony-hosting" title="High performance Symfony PHP hosting">Symfony</a>
    <a class="type-s rowbox linkstyle p-xs" href="{{ www_url }}/drupal-hosting" title="High performance Drupal PHP hosting">Drupal 8</a>
    <a class="type-s rowbox linkstyle p-xs" href="{{ www_url }}/phalcon-hosting" title="High performance Phalcon PHP hosting">Phalcon</a>
    <a class="type-s rowbox linkstyle p-xs" href="{{ www_url }}/craft-hosting" title="Craft CMS hosting">Craft CMS</a>
    {#<a class="type-s rowbox linkstyle p-xs" href="{{ www_url }}/php7-hosting" title="PHP 7 hosting">PHP 7</a>#}
    <a class="type-s rowbox linkstyle p-xs" href="{{ www_url }}/wordpress-hosting" title="WordPress hosting in the cloud">WordPress</a>
</div>