<h3>Hosting a new mindset</h3>

<ul class="rowboxList m-top-s columns">

    <li><a class="block" href="{{ www_url }}/laravel-hosting" title="High performance Laravel PHP hosting">Laravel</a></li>
    <li><a class="block" href="{{ www_url }}/symfony-hosting" title="High performance Symfony PHP hosting">Symfony</a></li>
    <li><a class="block" href="{{ www_url }}/drupal-hosting" title="High performance Drupal PHP hosting">Drupal 8</a></li>
    <li><a class="block" href="{{ www_url }}/phalcon-hosting" title="High performance Phalcon PHP hosting">Phalcon</a></li>
    <li><a class="block" href="{{ www_url }}/craft-hosting" title="Craft CMS hosting">Craft CMS</a></li>
    <li><a class="block" href="{{ www_url }}/wordpress-hosting" title="WordPress hosting in the cloud">WordPress</a></li>
    <li>
        <a href="/specs#compatible-software">And more …</a>
    </li>
</ul>