<a href="{{ dashboard_url }}/signup?{{ campaign }}" class="action fwdcta p-xl m-top-xs" id="{{ identifier|default('cta_lastaction_get_started_for_free') }}">
    <div class="font-bold type-xxl">{{ button_wording_1|default('Start now') }}</div>
    <div>{{ button_wording_2|default('join more than  15k PHP developers') }}</div>
</a>