<style>
    .graph-multi:hover .title { opacity: 0}
</style>
<div class="graph-multi box interactive m-top-s">
    <div class="title untouchable m-bottom-xs">
        PHP response time
        <span class="type-thin">last 24 h</span>


    </div>
    <div class="title type-s untouchable stats-static">
        112 <span>avg</span>,
        42 <span>min</span>,
        208 <span>max</span>,
    </div>
    <div class="bars">
        <div class="bar" data-tooltip="122 ms @ {{ "-24 hour"|date("Y-m-d H:00") }}"><div style="height: 58.65384615384615%" class="value"></div></div>
        <div class="bar" data-tooltip="100 ms @ {{ "-23 hour"|date("Y-m-d H:00") }}"><div style="height: 48.07692307692308%" class="value"></div></div>
        <div class="bar" data-tooltip="81 ms @ {{ "-22 hour"|date("Y-m-d H:00") }}"><div style="height: 38.94230769230769%" class="value"></div></div>
        <div class="bar" data-tooltip="124 ms @ {{ "-21 hour"|date("Y-m-d H:00") }}"><div style="height: 59.61538461538462%" class="value"></div></div>
        <div class="bar" data-tooltip="88 ms @ {{ "-20 hour"|date("Y-m-d H:00") }}"><div style="height: 42.30769230769231%" class="value"></div></div>
        <div class="bar" data-tooltip="167 ms @ {{ "-19 hour"|date("Y-m-d H:00") }}"><div style="height: 80.28846153846155%" class="value"></div></div>
        <div class="bar" data-tooltip="172 ms @ {{ "-18 hour"|date("Y-m-d H:00") }}"><div style="height: 82.6923076923077%" class="value"></div></div>
        <div class="bar" data-tooltip="117 ms @ {{ "-17 hour"|date("Y-m-d H:00") }}"><div style="height: 56.25%" class="value"></div></div>
        <div class="bar" data-tooltip="72 ms @ {{ "-16 hour"|date("Y-m-d H:00") }}"><div style="height: 34.61538461538461%" class="value"></div></div>
        <div class="bar" data-tooltip="83 ms @ {{ "-15 hour"|date("Y-m-d H:00") }}"><div style="height: 39.90384615384615%" class="value"></div></div>
        <div class="bar" data-tooltip="43 ms @ {{ "-14 hour"|date("Y-m-d H:00") }}"><div style="height: 18.846153846153847%" class="value"></div></div>
        <div class="bar" data-tooltip="45 ms @ {{ "-13 hour"|date("Y-m-d H:00") }}"><div style="height: 19.17307692307693%" class="value"></div></div>
        <div class="bar" data-tooltip="42 ms @ {{ "-12 hour"|date("Y-m-d H:00") }}"><div style="height: 18.17307692307693%" class="value"></div></div>
        <div class="bar" data-tooltip="52 ms @ {{ "-11 hour"|date("Y-m-d H:00") }}"><div style="height: 25%" class="value"></div></div>
        <div class="bar" data-tooltip="76 ms @ {{ "-10 hour"|date("Y-m-d H:00") }}"><div style="height: 36.53846153846154%" class="value"></div></div>
        <div class="bar" data-tooltip="75 ms @ {{ "-9 hour"|date("Y-m-d H:00") }}"><div style="height: 36.05769230769231%" class="value"></div></div>
        <div class="bar" data-tooltip="92 ms @ {{ "-8 hour"|date("Y-m-d H:00") }}"><div style="height: 44.23076923076923%" class="value"></div></div>
        <div class="bar" data-tooltip="101 ms @ {{ "-7 hour"|date("Y-m-d H:00") }}"><div style="height: 48.55769230769231%" class="value"></div></div>
        <div class="bar" data-tooltip="126 ms @ {{ "-6 hour"|date("Y-m-d H:00") }}"><div style="height: 60.57692307692308%" class="value"></div></div>
        <div class="bar" data-tooltip="78 ms @ {{ "-5 hour"|date("Y-m-d H:00") }}"><div style="height: 37.5%" class="value"></div></div>
        <div class="bar" data-tooltip="128 ms @ {{ "-4 hour"|date("Y-m-d H:00") }}"><div style="height: 61.53846153846154%" class="value"></div></div>
        <div class="bar" data-tooltip="208 ms @ {{ "-3 hour"|date("Y-m-d H:00") }}"><div style="height: 100%" class="value"></div></div>
        <div class="bar" data-tooltip="85 ms @ {{ "-2 hour"|date("Y-m-d H:00") }}"><div style="height: 40.86538461538461%" class="value"></div></div>
        <div class="bar" data-tooltip="78 ms @ {{ "-1 hour"|date("Y-m-d H:00") }}"><div style="height: 37.5%" class="value"></div></div>
    </div>
</div>
