
<h2 class="m-top-xxl type-xxl" id="platform-features">
    Platform features
</h2>

<div class="row collapse gutter-l wrap m-top-xl">
    <div class="third half-t column">
        <div class="alert edged">
            <h4>
                A managed platform
            </h4>
            <p>
                <strong>The platform makes the difference.</strong> No configuration required. Apps are instant and come ready to use with a private Git repo, Composer integration, an App URL, ephemeral storage, traffic, collaboration features, App Secrets and more.
            </p>
        </div>
    </div>
    <div class="third half-t">
        <h4>
           Test for free
        </h4>
        <p>
           It is possible to test a medium preset without obligations. You can even ask us to extend your trial period. Upgrade to a paid version when you are convinced.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            One App = 1 webiste
        </h4>
        <p>
            One App shall host one website. Each App comes with a dedicated App URL, dedicated metrics, a single Git repo and collaboration features. The tiny tinkering plans are designed for small websites.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Multiple data center locations
        </h4>
        <p>
            Choose between US1, Virgina (USA) and EU1, Dublin (Ireland) as location for your App.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Do more with less
        </h4>
        <p>
            You actually don't need more. The fortrabbit infra is different to classical hosting. Please refer to our <a href="{{ help_url }}/scaling#toc-php-how-much-memory-does-my-app-need-">scaling help article</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Cancel at any time
        </h4>
        <p>
            Yes, you can cancel your Account completely with immediate effect at any time directly from the Dashboard or scale down components or delete Apps.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Pay as you grow
        </h4>
        <p>
            At the end of each month, we'll bill for the monthly usage. The billing period is daily. So you'll be charged just for the days you have actually used a certain App or Component. We have a <a href="{{ help_url }}/billing-video">fancy video</a> as well a <a href="{{ help_url }}/billing">dedicated help page</a> on billing.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Made for entrepreneurs
        </h4>
        <p>
            The fortrabbit service is professional B2B hosting. VAT may apply.  Prices are net and subject to statutory VAT and may be added. Please also see our <a href="{{ help_url }}/billing#toc-taxes">billing FAQ page</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Professional support
        </h4>
        <p>
            Most of our clients prefer self-service. The Dashboard is powerful and self-explaining. The additional <a href="{{ help_url }}">documentation</a> is actually helpful. On top of that we offer <a href="/company-plans">affordable professional support</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Use fortrabbit, not X!
        </h4>
        <p>
            Comparing different hosting offerings is hard. We have set some pages to help you compare fortrabbit with: <a href="{{ www_url }}/why-not-vps">VPS</a>, <a href="{{ www_url }}/why-not-forge">Forge</a>, <a href="{{ www_url }}/why-not-heroku">Heroku</a>, <a href="{{ www_url }}/why-not-aws">AWS</a>, <a href="{{ www_url }}/why-not-pagodabox">Pagoda Box</a>.
        </p>
    </div>
</div>