{% macro preset(presetnumber, title, description, price, class, tryable) %}
<a href="#preset{{ presetnumber }}" class="box p-l row m-top-xs {% if class %} {{ class }}{% endif %}" id="preset{{ presetnumber }}">
        <div>
            <div class="font-bold">{{ title }}</div>
            <div>{{ description }}</div>
        </div>
        <div class="flex-right m-left-l type-l auto">
            <span class="font-thin">€</span><span class="font-bold">{{ price }}</span>
        </div>
</a>
{% endmacro %}

{% import _self as b %}

{#<div class="box">New Apps BETA</div>#}
{{ b.preset('4', 'New App BETA',     'Faster, more advanced, more affordable',               '5'    ,'newapp'  ,'1'  ) }}
{#<div class="box m-top-xs">Old Apps</div>#}
{{ b.preset('1', 'Tinkering',        'Development, multi-staging, small production',         '10'   ,''        ,'1'  ) }}
{{ b.preset('2', 'Modest production','Blog, marketing site, lightweight application',        '35'   ,''              ) }}
{{ b.preset('3', 'Mission critical', 'Business application hosting with high availability',  '140'  ,''              ) }}