<h2 class="m-top-xxl" id="faq">
    Common questions <apn class="type-thin">on service, pricing &amp; billing</apn>
</h2>
<div class="row collapse gutter-l wrap m-top-xl">
    <div class="third half-t column">
        <div class="alert edged">
            <h4>
                What's included?
            </h4>
            <p>
                <strong>The platform makes the difference.</strong> No configuration required. Apps are instant and come ready to use with a private Git repo, Composer integration, an App URL, ephemeral storage, traffic, collaboration features, App Secrets and more.
            </p>
        </div>
    </div>
    <div class="third half-t">
        <h4>
            Which plan is right for me?
        </h4>
        <p>
            Scaling depends on the type of your application (vertical scaling) and the traffic it serves (horizontal scaling). Start with a <strong>Play</strong> preset and go on from there. See our <a href="{{ help_url }}/scaling">scaling tips</a> and please don't hesitate to <a href="mailto:sales@fortrabbit.com">contact sales</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
           Can I test it for free?
        </h4>
        <p>
           Yes! It is possible to test a medium preset without obligations for 72 hours. You can even ask us to extend your trial period. Upgrade to a paid version when you are convinced.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            What's an App anyways?
        </h4>
        <p>
            An App is a container for your website or application. It comes with multiple Components, and a lot useful standards. See our <a href="{{ help_url }}/app">all about Apps article</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            How many websites in one App?
        </h4>
        <p>
            One App shall host one website. Each App comes with a dedicated App URL, dedicated metrics, a single Git repo and collaboration features. The tiny tinkering plans are designed for small websites.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            What's a Component?
        </h4>
        <p>
            A Component is an individually scaleable service (PHP, MySQL, Memcache …). Each App can have multiple Components at different scaling states. Presets are common combinations of Components.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            What's a Node?
        </h4>
        <p>
            A Node is a virtual machine that is optimized for a certain Component (PHP, MySQL …). Apps are running distributed across multiple Nodes. Node resources are shared: the higher the Components scaling plan, the less Apps are hosted on a single Node.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            What about data center locations?
        </h4>
        <p>
            You can currently choose between US1, Virgina (USA) and EU1, Dublin (Ireland) as location for your App.
        </p>
    </div>
    {#
    <div class="third half-t">
        <h4>
            Why so little memory?
        </h4>
        <p>
            You actually don't need more. The fortrabbit infra is different to classical hosting. Please refer to our <a href="{{ help_url }}/scaling#toc-php-how-much-memory-does-my-app-need-">scaling help article</a>.
        </p>
    </div>
    #}
    <div class="third half-t">
        <h4>
            Can I cancel at any time?
        </h4>
        <p>
            Yes, you can quit your Account completely with immediate effect at any time directly from the Dashboard or scale down components or delete Apps.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            How do you bill?
        </h4>
        <p>
            You pay as you grow. At the end of each month, we'll bill for the monthly usage. The billing period is daily. So you'll be charged just for the days you have actually used a certain App or Component. We have a <a href="{{ help_url }}/billing-video">fancy video</a> as well a <a href="{{ help_url }}/billing">dedicated help page</a> on billing.
        </p>
    </div>
    <div class="third half-t">
        <h4 id="q_tinkering">
            What's the tinkering level?
        </h4>
        <p>
            Use for development, testing, playing, experiments, staging, feature branches, hot fixes, pet projects, weekend hacks, student work, personal blogs, low traffic websites … <a href="/sla" title="See our Service Level Agreement">99% Uptime guarantee</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4 id="q_production">
            What's the production level?
        </h4>
        <p>
            Use for professional work, commercial projects, mission critical Apps, live sites, high traffic campaigns … <a href="/sla" title="See our Service Level Agreement">99.9% Uptime guarantee</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            What about taxes?
        </h4>
        <p>
            The fortrabbit service is professional B2B hosting, for entrepreneurs only. Prices are net and subject to statutory VAT and may be added. Please also see our <a href="{{ help_url }}/billing#toc-taxes">billing FAQ page</a>.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            What about support?
        </h4>
        <p>
            Most of our clients prefer self-service. The Dashboard is powerful and self-explaining. The additional <a href="{{ help_url }}">documentation</a> is actually helpful. On top of that we offer <a href="/support">affordable professional support</a>.
        </p>
    </div>
    <div class="third half-t">
        {% include "snippets/why-not-block.twig" %}
    </div>
    <div class="third half-t">
        <h4>
            My question is not listed here!
        </h4>
        <p>
            You can search our <a href="{{ help_url }}/">help pages</a> and of course we would like to hear it directly, please <a href="mailto:sales@fortrabbit.com">mail us</a>.
        </p>
    </div>
    {#
    <div class="third half-t">
        <h4>
            VAT may apply
        </h4>
        <p>
            Prices are net and subject to statutory VAT and <a href="{{ help_url }}/billing##toc-taxes">may be added</a>. VAT is added for clients from Germany and the Europe Union without valid VAT IN. VAT is not added for clients from European Union with valid VAT IN and from all other countries.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Made for entrepreneurs
        </h4>
        <p>
            The fortrabbit service is for entrepreneurs only - it's a professional B2B offering.
        </p>
    </div>
    <div class="third half-t">
        <h4>
            Ask us!
        </h4>
        <p>
            Unsure which scaling to choose? Looking for something more tailor-made? Please <a href="/contact#sales">contact us</a>!
        </p>
    </div>
    #}

</div>
