{# WIZARD results #}
<div id="wizard-output" class="hidden box alert">
    <p class="type-xl">
        So your App is <strong id="wizard-app-size">slim</strong>, has <strong id="wizard-request-amount">an unknown amount of visitors</strong><span id="wizard-option"> and <strong>Workers will be used</strong></span>. <span class="type-thin">We suggest the following setup.</span>
    </p>
    <p>
        This is just a rough estimation. Each App is different! We always recommend to start with a small plan and scale on demand. Most scaling and shrinking happens in minutes. The minimum pricing period is daily. So you can easily experiment to find your perfect setup.
    </p>
</div>

{# DEBUG: {{ products | dd }}#}
{% for product_name, product_definition in products %}
    <h4>{{ product_definition.title }}</h4>
    {% if product_definition.removable %}
    <label class="m-top-xssmall row">
        <input type="radio" data-plan="off" name="{{ product_name }}" value="0" checked>
        <div class="spacerleftbig clip">
            <span class="type-bold">
                {{ product_definition.marketing.off_title ?: product_definition.title ~ ' off' }}
            </span>
            <span class="type-thin clip">
                {{ product_definition.marketing.off_description ?: '' }}
            </span>
        </div>
        <div class="right auto keep type-xl">{{ 0 | nice_number }} €</div>
    </label>
    {% endif %}
    {% for plan_name, plan_definition in product_definition.plans %}
        <label class="m-top-xssmall row">
            <input type="radio" data-plan="{{ plan_name }}" name="{{ product_name }}" value="{{ plan_definition.price }}"
            {% if loop.index == 1 and not product_definition.removable %} checked{% endif %}>
            <div class="spacerleftbig">
                <div class="type-bold">{{ plan_definition.title }}</div>
                <div class="type-thin">{{ plan_definition.description }}</div>
            </div>
            <div class="right auto keep type-xl">{{ plan_definition.price | nice_number }} €</div>
        </label>
    {% endfor %}
{% endfor %}

<div class="box row">
    <div class="type-xl type-thin">Estimated monthly costs</div>
    <div class="type-xl type-bold right" id="custom-price-out">12 €</div>
</div>

<script>
    $(function () {
        $('#custom input[type=radio]').change(function () {
            var total = 0;
            $('#custom input[type=radio]:checked').each(function () {
                total += parseFloat($(this).val());
            });
            $('#custom-price-out').text(total + ' €');
        }).trigger('change');
    });
</script>