{#

 .d88b.  db    db  .d88b.  d888888b d88888b .d8888.
.8P  Y8. 88    88 .8P  Y8. `~~88~~' 88'     88'  YP
88    88 88    88 88    88    88    88ooooo `8bo.
88    88 88    88 88    88    88    88~~~~~   `Y8b.
`8P  d8' 88b  d88 `8b  d8'    88    88.     db   8D
 `Y88'Y8 ~Y8888P'  `Y88P'     YP    Y88888P `8888Y'

#}


{# 1 #}
{% if quoteText == 'dixens' %}

{% set quote = {
    "quote":
    "There's exceptional support. And then there's super super super exceptional support. That's <a href='https://twitter.com/fortrabbit'>@fortrabbit</a>.",

    "image":
    "https://pbs.twimg.com/profile_images/430609539281346560/vlVsXmFb_bigger.png",

    "twitterhandle":
    "_dixens/status/523044854050594816",

    "name":
    "Nicolas Dupuy",

    "countrycode":
    "FR",

    "title":
    "web developer &amp; consultant"
}%}


{# 2 #}
{% elseif quoteText == 'fabpot' %}

{% set quote = {
    "quote":
    "I've just tested with an app I created a while ago on Fortrabbit and everything worked flawlessly. Thank you all for your involvement. I'm very excited about the <a href='http://blackfire.io'>blackfire.io</a> integration.",

    "image":
    "https://pbs.twimg.com/profile_images/443336758403424256/U5bzXI5l_bigger.jpeg",

    "twitterhandle":
    "fabpot",

    "name":
    "Fabien Potencier",

    "countrycode":
    "FR",

    "title":
    "Founder and project lead of Symfony"
}%}


{# 3 #}
{% elseif quoteText == 'laravelio' %}

{% set quote = {
    "quote":
    "Our thanks go out to <a href='https://twitter.com/fortrabbit'>@fortrabbit</a> for helping. If you’re looking for great PHP hosting, look no further: <a href='http://www.fortrabbit.com'>fortrabbit.com</a> <a href='https://twitter.com/hashtag/laravel?src=hash'>#laravel</a>",

    "image":
    "https://pbs.twimg.com/profile_images/2796504369/0e7f8afe915231804e7dd1d0f1e4c0e9_bigger.png",

    "twitterhandle":
    "LaravelIO/status/565976494238076928",

    "name":
    "Dries Vints",

    "countrycode":
    "BE",

    "title":
    "Laravel.io maintainer"
}%}


{# 4 #}
{% elseif quoteText == 'silentworks' %}

{% set quote = {
    "quote":
    "<a href='https://twitter.com/fortrabbit'>@fortrabbit</a> the best PHP cloud hosting platform I have used to date. No downtime and super fast. Scale in seconds.",

    "image":
    "https://pbs.twimg.com/profile_images/567058036376608768/p9v6rPob_bigger.jpeg",

    "twitterhandle":
    "silentworks/status/320220547566940160",

    "name":
    "Andrew Smith",

    "countrycode":
    "UK",

    "title":
    "Core contributor on Slim Framework"
}%}


{# 5 #}
{% elseif quoteText == 'shealan' %}

{% set quote = {
    "quote":
    "Got sick of wrestling with Linux and Apache so tried out <a href='https://twitter.com/fortrabbit'>@fortrabbit</a> and very glad I did. Perfect solution.",

    "image":
    "https://pbs.twimg.com/profile_images/505294785616166913/CR7itGZw.png",

    "twitterhandle":
    "Shealan/status/328487710295740418",

    "name":
    "Shealan Forshaw",

    "countrycode":
    "UK",

    "title":
    "Founder of beatnode"
}%}


{# 6 #}
{% elseif quoteText == 'support1' %}

{% set quote = {
    "quote":
    "Ulrich, YOU ARE A LEGEND! thank you it works perfectly now!!!!!! such a stupid mistake that i spent hours trying to fix :)",

    "image":
    "https://pbs.twimg.com/profile_images/2877768723/e32f9a8a76b9a41f89dce20832bf9b43_bigger.png",

    "twitterhandle":
    "ashleyford",

    "name":
    "Ashley Ford",

    "countrycode":
    "UK",

    "title":
    "Director at Harkable"
}%}


{# 7 #}
{% elseif quoteText == 'support2' %}


    {% set quote = {
        quote: "Just deployed app #38 on @fortrabbit, #PHP PaaS awesomeness, never a problem that couldn't be resolved with their awesome support.",
        image: "https://pbs.twimg.com/profile_images/615507673753239553/BTH1Jv6o_bigger.jpg",
        twitterhandle: "WondrousInc/status/626322063968600064",
        name: "Rainer Friederich",
        countrycode: "CH",
        title: "Development lead at Wondrous Inc"
    }%}



{# 8 #}
{% elseif quoteText == 'tattershall' %}

{% set quote = {
    "quote":
    "17yrs of hosting &amp; i've never known a solution/team that have gotten it so right. PHP hosting? Use <a href='https://twitter.com/fortrabbit'>@fortrabbit</a>",

    "image":
    "https://pbs.twimg.com/profile_images/1883294339/image_bigger.jpg",

    "twitterhandle":
    "JimTattersall/status/653843370524209152",

    "name":
    "Jim Tattersall",

    "countrycode":
    "UK",

    "title":
    "Developer/Founder of studiorotate"
}%}


{% elseif quoteText == 'kalle' %}

{% set quote = {
    "quote":
    "I'm not sure which one I'm more impressed. @blackfireio as a analysing tool or @fortrabbits customer support.",

    "image":
    "https://pbs.twimg.com/profile_images/563439142399250432/asffgOT3_bigger.jpeg",

    "twitterhandle":
    "palokankare/status/563450768280526848",

    "name":
    "Kalle Palokankare",

    "countrycode":
    "FI",

    "title":
    "Senior developer at 4D Software"
}%}


{% elseif quoteText == 'kalle2' %}

{% set quote = {
    "quote":
    "If you are looking for #PaaS host I recomend @fortrabbit. Their support is absofuckinglutely 1st class. #php #hosting #service #thankyou",

    "image":
    "https://pbs.twimg.com/profile_images/563439142399250432/asffgOT3_bigger.jpeg",

    "twitterhandle":
    "palokankare/status/691728253623635968",
    
    "name":
    "Kalle Palokankare",

    "countrycode":
    "FI",

    "title":
    "Senior developer at 4D Software"
}%}




{% elseif quoteText == 'support3' %}

{% set quote = {
    "quote":
    "Experienced some outstanding support from <a href='https://twitter.com/fortrabbit'>@fortrabbit</a> today. So happy to be with a hosting company that knows what it is doing.",

    "image":
    "https://pbs.twimg.com/profile_images/1845592078/Ben_400x400.png",

    "twitterhandle":
    "bendodson/status/631880547447492608",

    "name":
    "Ben Dodson",

    "countrycode":
    "UK",

    "title":
    "Ex-CEO and Founder of WallaBee"
}%}




{% elseif quoteText == 'pagodabox' %}

    {% set quote = {
    "quote":
    "With Pagodabox it used to take about 5 mins to complete a git push as the platform seemed to be rebuilt each time. What's the difference in how you guys do this as it's about 10 seconds instead?",

    "image":
    "http://www.element25.com/images/jon_routley.jpg",

    "twitterhandle":
    "jonroutley",

    "name":
    "Jon Routley",

    "countrycode":
    "UK",

    "title":
    "Developer at element25"
    }%}

{% elseif quoteText == 'speed' %}

    {% set quote = {
    "quote": "@fortrabbit Did some @loaderio stress testing and it performed really well. High five!",

    "image":
    "https://pbs.twimg.com/profile_images/667956733189292032/Yw9qXI2G_bigger.jpg",

    "twitterhandle":
    "henninghorn/status/641707532692660225",

    "name":
    "Henning Horn",

    "countrycode":
    "DK",

    "title":
    "Information science student"
    }%}





{% elseif quoteText == 'love' %}


    {% set quote = {
    "quote": "I'm loving @fortrabbit. It feels really natural for me as a PHP Developer.",

    "image":
    "https://pbs.twimg.com/profile_images/458971790820122624/4E1XqCms_400x400.jpeg",

    "twitterhandle":
    "foxteck/status/719248423141048320",

    "name":
    "Eduardo Romero",

    "countrycode":
    "MX",

    "title":
    "Web Developer, Open Source Consultant"
    }%}


{% elseif quoteText == 'webfaction' %}


    {% set quote = {
    "quote": "I had a problem with setting up Laravel at Webfaction, and it's been a headache. With you guys I had it set up in less than 30 mins; I could have done it faster, but overlooked some instructions at first before getting it right.",

    "image":
    "https://secure.gravatar.com/avatar/440bd1d00f6e08e07944c8b536c50049.jpg?s=600&d=retro",

    "twitterhandle":
    "foxteck/status/719248423141048320",

    "name":
    "Amir Canteetu",

    "countrycode":
    "SA",

    "title":
    "Back-end Engineer at DigitalKickstart"
    }%}

{% endif %}



{#

d888888b d88888b .88b  d88. d8888b. db       .d8b.  d888888b d88888b
`~~88~~' 88'     88'YbdP`88 88  `8D 88      d8' `8b `~~88~~' 88'
   88    88ooooo 88  88  88 88oodD' 88      88ooo88    88    88ooooo
   88    88~~~~~ 88  88  88 88~~~   88      88~~~88    88    88~~~~~
   88    88.     88  88  88 88      88booo. 88   88    88    88.
   YP    Y88888P YP  YP  YP 88      Y88888P YP   YP    YP    Y88888P

#}


{#

    A hero quotes is yellow speach bubble and featurs the author with icon and shortbio. it is available in different sizes.

#}



<blockquote class="{% if quoteClasses %} {{ quoteClasses }}{% endif %}">
    <p class="{{ quoteTextClass | default('type-xl p-l') }}">{{ quote.quote | raw }}</p>
    <div class="row m-top-m{% if quoteCreditClass %} {{ quoteCreditClass }}{% endif %}">
        {% if quote.image %}
        <div style="background-image: url('{{ quote.image }}')" class="media-face media media-l"></div>
        {% endif %}
        <div class="{% if quote.image %}m-left-m{% endif %}">
            <a href="https://twitter.com/{{ quote.twitterhandle }}" title="{{ quote.title }}" class="author">
                {{ quote.name }}
            </a> {{ quote.countrycode }}<br>
            <span class="type-thin">{{ quote.title }}</span>
        </div>
    </div>
</blockquote>
