{# OBSOLETE ? #}

<div class="frameworkchecker m-top-xl">
    <h2 class="type-center m-bottom-m">
        Supported CMS & frameworks
    </h2>

    {% macro frameworkchecker(title, class, link) %}
    <a class="{{ class }} sixth half-p p-l box p-s stack label" href="{{link}}">
        <div class="title keep type-s type-center">{{ title }}</div>
    </a>
    {% endmacro %}
    <div class="row gutter-no wrap collapse">
        {{ _self.frameworkchecker( 'Laravel',   'laravel',    'laravel-hosting' ) }}
        {{ _self.frameworkchecker( 'Symfony',   'symfony',    'symfony-hosting' ) }}
        {{ _self.frameworkchecker( 'Phalcon',   'phalcon',    'phalcon-hosting' ) }}
        {{ _self.frameworkchecker( 'WordPress', 'wordpress',  'wordpress-hosting' ) }}
        {{ _self.frameworkchecker( 'Drupal 8',  'drupal8',    'drupal-hosting' ) }}
        {{ _self.frameworkchecker( 'Craft CMS', 'craft',      'craft-hosting' ) }}
    </div>
    <a class="box p-s type-center label" href="{{ help_url }}#install-guides">
        and more …
    </a>
</div>