<h2 class="m-bottom-s m-top-xl" id="compatible-software">
    Compatible frameworks &amp; CMS
</h2>

<div class="row gutter-l collapse">
    <div class="half">
        <h5 class="m-top-m sectionHeading">
            Grade A - with install guide &amp; support
        </h5>
        <ul class="type-s columns rowboxList">
            <li>
                <a class="block" href="{{ help_url }}/install-laravel-uni">
                    Laravel
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-wordpress-uni">
                    WordPress
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-craft-uni">
                    Craft CMS
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-grav-uni">
                    Grav
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-october-cms-uni">
                    October CMS
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-symfony-uni">
                    Symfony
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-slim-uni">
                    Slim framework
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-drupal-uni">
                    Drupal 8
                </a>
            </li>
            <li>
                <a class="block" href="{{ help_url }}/install-phalcon-uni">
                    Phalcon
                </a>
            </li>
        </ul>
    </div>
    <div class="half">
        <h5 class="m-top-m sectionHeading">
            Grade B - also tried &amp; tested
        </h5>
        <ul class="type-s columns many rowboxList">
            <li>CakePHP</li>
            <li>Concrete5</li>
            <li>Contao</li>
            {#
            hier gibt es einen Schnittmenge mit Craft, aber bin mir nicht sicher ob es auf universal gut läuft
            <li>ExpressionEngine</li>#}
            <li>Joomla!</li>
            <li>Kirby</li>
            <li>ModX</li>
            {#
            Keine Ahnung wie moto funktioniert
            <li>MotoCMS</li>#}
            <li>Neos</li>
            <li>Shopware</li>
            <li>Silverstripe</li>
            <li>Statamic</li>
            {#
            Zu klein, zu umbekannt
            <li>Stacey</li> #}
            <li>TYPO3</li>
            <li>Yii2</li>
            {#
            Zu klein, zu umbekannt
            <li>PhileCMS</li>#}
        </ul>
    </div>
</div>
