<h3 class="sectionHeading" id="compatible-software">
    Compatible frameworks &amp; CMS
</h3>
<ul class="type-s columns rowboxList">
    <li>
        <a class="block" href="{{ help_url }}/install-laravel-pro">
            Laravel
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}/install-symfony-pro">
            Symfony
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}/install-craft-pro">
            Craft CMS
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}/install-wordpress-pro">
            WordPress
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}/install-slim-pro">
            Slim framework
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}/install-grav-pro">
            Grav
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}/install-drupal-pro">
            Drupal 8
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}/install-phalcon-pro">
            Phalcon
        </a>
    </li>
    <li>
        <a class="block" href="{{ help_url }}#install-guides">
            and more …
        </a>
    </li>
</ul>