{#

TODO:

* OBSOLETE?
* review, then propbably delete texts here
* most stuff is not essential TMI + outdated
* skipped FAQ style everywhere, need to be rewwritten

#}


<h3 class="m-top-xl" id="faq">
    FAQ
</h3>

<div class="row gutter-l m-top-m wrap">
    <div class="third half-t">
        <h5>
            Where is the free tier?
        </h5>
        <p>
            Sorry, we don't offer <a href="{{ blog_url }}/free-web-hosting">free web hosting</a>. But you can elaborate our service offering by booking a preset on trial mode.
        </p>
    </div>

    <div class="third half-t">
        <h5>
            How much PHP memory will I need?
        </h5>
        <p>
            Initial vertical scaling is defined by your frameworks needs. Please refer to our <a href="{{help_url}}/php-scaling">PHP scaling help article</a> to learn more.
        </p>
    </div>

    <div class="third half-t">
        <h5 id="backups">
            What about backups
        </h5>
        <p>
            MySQL database backups are done daily. MySQL database backups are kept for seven days (seven backups for each database). Backups can be recouped on request.
        </p>
    </div>

    <div class="third half-t">
        <h5>
            Can I have a custom quote?
        </h5>
        <p>
            Sure! Please <a href="mailto:sales@fortrabbit.com">tell us your needs</a> and together we design a tailor made set up for your App.
        </p>
    </div>

    <div class="third half-t">
        <h5>
            What happens when a limit is exceeded?
        </h5>
        <p>
            Most limits are "soft limits" or even just recommendations. Please see our dedicated <a href="{{ help_url }}/scaling#toc-exceeding-limits">exceeding limits overview</a>.
        </p>
    </div>

    <div class="third half-t">
        <h5>
            Further readings
        </h5>
        <div class="gutter-no m-top-s type-s">
            <a href="{{ help_url }}/app-uni" class="rowbox linkstyle p-xs">
                All about Universal Apps
            </a>
            <a href="{{ help_url }}/access-methods" class="rowbox linkstyle p-xs">
                All about accessing your App
            </a>
            <a href="{{ help_url }}/billing" class="rowbox linkstyle p-xs">
                All about our billing
            </a>
        </div>
    </div>
</div>
